/**
 * Tooltips
 *
 * :before - arrow to element
 * :after - tooltip body
 */
:root {
  /*Style*/
  --jui-tooltip-width: 180px;
  --jui-tooltip-border-width: .5px;
  --jui-tooltip-border-radius: 6px;
  --jui-tooltip-padding-x: 10px;
  --jui-tooltip-padding-y: 8px;
  --jui-tooltip-font-size: 12px;
  --jui-tooltip-font-weight: 400;
  --jui-tooltip-font-family: inherit;

  /*Animation*/
  --jui-tooltip-delay-hide: 0s;
  --jui-tooltip-delay-show: 0.2s;
  --jui-tooltip-easing-function: ease-out;
  --jui-tooltip-duration: .12s;

  /*Options*/
  --jui-tooltip-shadow-fade: rgb(var(--jui-black-color) / .95);
  --jui-tooltip-arrow-size: 7px;
  --jui-tooltip-margin: calc(var(--jui-tooltip-arrow-size) * 2);
  --jui-tooltip-y-position: calc(100% - (var(--jui-tooltip-arrow-size) / 2));
  --jui-tooltip-z-index: 9999;
}

[aria-label] {
  overflow: visible;

  &[data-width="xs"] {
    --jui-tooltip-width: 60px;
  }
  &[data-width="sm"] {
    --jui-tooltip-width: 120px;
  }
  &[data-width="md"] {
    --jui-tooltip-width: 180px;
  }
  &[data-width="lg"] {
    --jui-tooltip-width: 240px;
  }
  &[data-width="xl"] {
    --jui-tooltip-width: 300px;
  }

  &[data-position] {
    cursor: pointer;
    position: relative;

    &:after {
      height: min-content;
      width: max-content;
      max-width: var(--jui-tooltip-width);
      padding: var(--jui-tooltip-padding-y) var(--jui-tooltip-padding-x);

      content: attr(aria-label);
      color: rgb(var(--jui-fg-color));
      text-wrap: balance;
      white-space: pre-wrap;
      font-family: var(--jui-tooltip-font-family), sans-serif;
      font-size: var(--jui-tooltip-font-size);
      line-height: 1.2;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-style: normal;
      font-weight: var(--jui-tooltip-font-weight);

      background-color: rgb(var(--jui-tooltip-color));
      border-radius: var(--jui-tooltip-border-radius);
      border: var(--jui-tooltip-border-width) solid var(--jui-tooltip-border-color);
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25);

      z-index: var(--jui-tooltip-z-index);
      display: block;
    }

    &:before {
      content: "";
      z-index: calc(var(--jui-tooltip-z-index) + 1);
    }

    &:after, &:before {
      box-sizing: border-box;
      user-select: none;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      transition: all var(--jui-tooltip-duration) var(--jui-tooltip-easing-function) .12s;
      transition-delay: var(--jui-tooltip-delay-hide);
    }

    &:hover {

      &:before, &:after {
        opacity: 1;
        transition-delay: var(--jui-tooltip-delay-show);
      }
    }

    &[data-position="top"] {

      &::after {
        margin-bottom: var(--jui-tooltip-margin);
      }

      &:before {
        border: var(--jui-tooltip-arrow-size) solid transparent;
        height: 0;
        width: 0;
        display: block;
        border-top-color: var(--jui-tooltip-border-color);
        filter: drop-shadow(0 0 1px rgba(0, 0, 0, .3));
      }

      &:after,
      &:before {
        bottom: var(--jui-tooltip-y-position);
        left: 50%;
        transform: translate(-50%, 6px);
        transform-origin: top;
      }

      &:hover {

        &:after,
        &:before {
          transform: translate(-50%, 0);
        }
      }
    }

    &[data-position="bottom"] {

      &::after {
        margin-top: var(--jui-tooltip-margin);
      }

      &::before {
        border: var(--jui-tooltip-arrow-size) solid transparent;
        height: 0;
        width: 0;
        display: block;
        border-bottom-color: var(--jui-tooltip-border-color);
        filter: drop-shadow(0 1px var(--jui-tooltip-shadow-fade));
      }

      &::after,
      &::before {
        left: 50%;
        top: var(--jui-tooltip-y-position);
        transform: translate(-50%, -6px);
        transform-origin: bottom;
      }

      &:hover {

        &::after,
        &::before {
          transform: translate(-50%, 0);
        }
      }
    }

    &[data-position="right"] {

      &::after {
        margin-left: var(--jui-tooltip-margin);
      }

      &::before {
        border: var(--jui-tooltip-arrow-size) solid transparent;
        height: 0;
        width: 0;
        display: block;
        border-right-color: var(--jui-tooltip-border-color);
        filter: drop-shadow(-1px 0 var(--jui-tooltip-shadow-fade));
      }

      &::after,
      &::before {
        left: var(--jui-tooltip-y-position);
        top: 50%;
        transform: translate(-6px, -50%);
        transform-origin: right;
      }

      &:hover {

        &::after,
        &::before {
          transform: translate(0, -50%);
        }
      }
    }

    &[data-position="left"] {

      &::after {
        margin-right: var(--jui-tooltip-margin);
      }

      &::before {
        border: var(--jui-tooltip-arrow-size) solid transparent;
        height: 0;
        width: 0;
        display: block;
        border-left-color: var(--jui-tooltip-border-color);
        filter: drop-shadow(1px 0 var(--jui-tooltip-shadow-fade));
      }

      &::after,
      &::before {
        right: var(--jui-tooltip-y-position);
        top: 50%;
        transform: translate(6px, -50%);
        transform-origin: left;
      }

      &:hover {

        &::after,
        &::before {
          transform: translate(0, -50%);
        }
      }
    }
  }
}
