/**
 * Tooltips
 *
 * :before - arrow to element
 * :after - tooltip body
 */
:root {
  /* Config */
  --jui-tooltip-width: 180px;
  --jui-tooltip-margin: 2px;
  --jui-tooltip-arrow-size: 6px;
  --jui-tooltip-border-width: 1px;
  --jui-tooltip-border-radius: 6px;
  --jui-tooltip-padding-x: 10px;
  --jui-tooltip-padding-y: 8px;
  --jui-tooltip-font-weight: 400;
  --jui-tooltip-font-family: inherit;

  /* Animation */
  --jui-tooltip-animation-start-offset: 10px;
  --jui-tooltip-delay-hide: 0s;
  --jui-tooltip-delay-show: .4s;
  --jui-tooltip-easing-function: ease;
  --jui-tooltip-duration: .2s;
}

[aria-label] {
  overflow: visible;

  &[data-width="xs"] {
    --jui-tooltip-width: 60px;
  }
  &[data-width="sm"] {
    --jui-tooltip-width: 120px;
  }
  &[data-width="md"] {
    --jui-tooltip-width: 180px;
  }
  &[data-width="lg"] {
    --jui-tooltip-width: 240px;
  }
  &[data-width="xl"] {
    --jui-tooltip-width: 300px;
  }

  &[data-position] {
    cursor: pointer;
    position: relative;

    &:after {
      content: attr(aria-label);
      height: min-content;
      width: max-content;
      max-width: var(--jui-tooltip-width);
      padding: var(--jui-tooltip-padding-y) var(--jui-tooltip-padding-x);
      color: rgb(var(--jui-fg-rgb));
      text-wrap: balance;
      white-space: pre-wrap;
      font-family: var(--jui-tooltip-font-family), sans-serif;
      font-size: var(--jui-tooltip-font-size);
      line-height: 1.2;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-style: normal;
      font-weight: var(--jui-tooltip-font-weight);
      background-color: rgb(var(--jui-tooltip-bg-rgb));
      border-radius: var(--jui-tooltip-border-radius);
      border: var(--jui-tooltip-border-width) solid rgb(var(--jui-tooltip-border-rgb));
      box-shadow: 0 0 5px 0 rgb(var(--jui-tooltip-border-rgb) / .8);
      z-index: var(--jui-tooltip-z-index);
      display: block;
    }

    &:before {
      content: " ";
      height: 0;
      width: 0;
      border: var(--jui-tooltip-arrow-size) solid transparent;
      display: block;
      z-index: calc(var(--jui-tooltip-z-index) + 1);
    }

    &:after, &:before {
      box-sizing: border-box;
      user-select: none;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      transition-duration: var(--jui-tooltip-duration);
      transition-timing-function: var(--jui-tooltip-easing-function);
      transition-delay: var(--jui-tooltip-delay-hide);
    }

    &:hover, &.active {

      &:before, &:after {
        opacity: 1;
        transition-delay: var(--jui-tooltip-delay-show);
      }
    }

    &[data-position="top"] {

      &:after {
        margin-bottom: calc((var(--jui-tooltip-arrow-size) * 2) + var(--jui-tooltip-margin));
        transform: translate(-50%, 0);
      }

      /* Triangle - ▼ */
      &:before {
        margin-bottom: var(--jui-tooltip-margin);
        border-top-color: rgb(var(--jui-tooltip-bg-rgb));
        filter: drop-shadow(0 1px 0px rgb(var(--jui-tooltip-border-rgb)))
          drop-shadow(0 1px 1px rgb(var(--jui-tooltip-border-rgb)));
        transform: translate(-50%, -1px);
      }

      &:after, &:before {
        bottom: calc(100% - var(--jui-tooltip-arrow-size) + var(--jui-tooltip-margin) + var(--jui-tooltip-animation-start-offset));
        left: 50%;
        transition-property: bottom, opacity;
      }

      &:hover, &.active {

        &:after, &:before {
          bottom: calc(100% - var(--jui-tooltip-arrow-size) + var(--jui-tooltip-margin));
        }
      }
    }

    &[data-position="bottom"] {

      &:after {
        margin-top: calc((var(--jui-tooltip-arrow-size) * 2) + var(--jui-tooltip-margin));
        transform: translate(-50%, 0);
      }

      /* Triangle - ▲ */
      &::before {
        margin-top: var(--jui-tooltip-margin);
        border-bottom-color: rgb(var(--jui-tooltip-bg-rgb));
        filter: drop-shadow(0 -1px 0px rgb(var(--jui-tooltip-border-rgb)))
          drop-shadow(0 -1px 1px rgb(var(--jui-tooltip-border-rgb)));
        transform: translate(-50%, 1px);
      }

      &::after, &::before {
        top: calc(100% - var(--jui-tooltip-arrow-size) + var(--jui-tooltip-margin) + var(--jui-tooltip-animation-start-offset));
        left: 50%;
        transition-property: top, opacity;
      }

      &:hover, &.active {

        &:after, &:before {
          top: calc(100% - var(--jui-tooltip-arrow-size) + var(--jui-tooltip-margin));
        }
      }
    }

    &[data-position="left"] {

      &::after {
        margin-right: calc((var(--jui-tooltip-arrow-size) * 2) + var(--jui-tooltip-margin));
        transform: translate(0, -50%);
      }

      /* Triangle - ▶ */
      &::before {
        margin-right: var(--jui-tooltip-margin);
        border-left-color: rgb(var(--jui-tooltip-bg-rgb));
        filter: drop-shadow(1px 0 0px rgb(var(--jui-tooltip-border-rgb)))
          drop-shadow(1px 0 1px rgb(var(--jui-tooltip-border-rgb)));
        transform: translate(-1px, -50%);
      }

      &::after,
      &::before {
        top: 50%;
        right: calc(100% - var(--jui-tooltip-arrow-size) + var(--jui-tooltip-margin) + var(--jui-tooltip-animation-start-offset));
        transition-property: right, opacity;
      }

      &:hover, &.active {

        &::after, &::before {
          right: calc(100% - var(--jui-tooltip-arrow-size) + var(--jui-tooltip-margin));
        }
      }
    }

    &[data-position="right"] {

      &::after {
        margin-left: calc((var(--jui-tooltip-arrow-size) * 2) + var(--jui-tooltip-margin));
        transform: translate(0, -50%);
      }

      /* Triangle - ◀ */
      &::before {
        margin-left: var(--jui-tooltip-margin);
        border-right-color: rgb(var(--jui-tooltip-bg-rgb));
        filter: drop-shadow(-1px 0 0px rgb(var(--jui-tooltip-border-rgb)))
          drop-shadow(-1px 0 1px rgb(var(--jui-tooltip-border-rgb)));
        transform: translate(1px, -50%);
      }

      &::after, &::before {
        top: 50%;
        left: calc(100% - var(--jui-tooltip-arrow-size) + var(--jui-tooltip-margin) + var(--jui-tooltip-animation-start-offset));
        transition-property: left, opacity;
      }

      &:hover, &.active {

        &::after, &::before {
          left: calc(100% - var(--jui-tooltip-arrow-size) + var(--jui-tooltip-margin));
        }
      }
    }
  }
}
