html {
  --jj-black: 0 0 0;
  --jj-white: 255 255 255;
  --jj-accent: 0 115 229;
  --jj-error: 220 38 38;
  --jj-bg: 255 255 255;
  --jj-fg: 0 0 0;
  --jj-muted: 220 220 220;
  --jj-shadow: 209 209 209;
  --jj-form-label: 25 25 25;
  --jj-form-normal-border: 208 208 211;
  --jj-form-normal-bg: 255 255 255;
  --jj-form-focus-border: 38 38 38;
  --jj-form-focus-bg: 255 255 255;
  --jj-form-disabled-border: 220 220 220;
  --jj-form-disabled-bg: 220 220 220;
}

html.dark {
  --jj-black: 0 0 0;
  --jj-white: 255 255 255;
  --jj-accent: 0 115 229;
  --jj-error: 240 28 28;
  --jj-bg: 29 29 29;
  --jj-fg: 255 255 255;
  --jj-muted: 48 48 48;
  --jj-shadow: 209 209 209;
  --jj-form-label: 225 225 225;
  --jj-form-normal-border: 78 78 78;
  --jj-form-normal-bg: 255 255 255;
  --jj-form-focus-border: 212 212 212;
  --jj-form-focus-bg: 255 255 255;
  --jj-form-disabled-border: 48 48 48;
  --jj-form-disabled-bg: 48 48 48;
}

