html {
  --black: 0 0 0;
  --white: 255 255 255;
  --accent: 0 115 229;
  --error: 220 38 38;
  --background: 255 255 255;
  --foreground: 0 0 0;
  --muted: 220 220 220;
  --shadow: 209 209 209;
  --form-label: 25 25 25;
  --form-normal-border: 208 208 211;
  --form-normal-background: 255 255 255;
  --form-focus-border: 38 38 38;
  --form-focus-background: 255 255 255;
  --form-disabled-border: 220 220 220;
  --form-disabled-background: 220 220 220;
}

html.dark {
  --black: 0 0 0;
  --white: 255 255 255;
  --accent: 0 115 229;
  --error: 240 28 28;
  --background: 29 29 29;
  --foreground: 255 255 255;
  --muted: 48 48 48;
  --shadow: 209 209 209;
  --form-label: 225 225 225;
  --form-normal-border: 78 78 78;
  --form-normal-background: 255 255 255;
  --form-focus-border: 212 212 212;
  --form-focus-background: 255 255 255;
  --form-disabled-border: 48 48 48;
  --form-disabled-background: 48 48 48;
}

