@font-face {
    font-family: "IconFont";
    src: url("/fonts/icon-font/IconFont.eot?7e0870890d053dcaa1b6add14e807f39#iefix") format("embedded-opentype"),
url("/fonts/icon-font/IconFont.woff2?7e0870890d053dcaa1b6add14e807f39") format("woff2"),
url("/fonts/icon-font/IconFont.woff?7e0870890d053dcaa1b6add14e807f39") format("woff"),
url("/fonts/icon-font/IconFont.ttf?7e0870890d053dcaa1b6add14e807f39") format("truetype"),
url("/fonts/icon-font/IconFont.svg?7e0870890d053dcaa1b6add14e807f39#IconFont") format("svg");
}

.icon {
  display: inline-block;
  font-family: "IconFont", sans-serif;
  font-weight: 400;
  font-size: inherit;
  text-rendering: auto;
  text-transform: none;
  font-style: normal;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tooltip:before {
  content: "\f101";
}
.icon-textarea:before {
  content: "\f102";
}
.icon-switch:before {
  content: "\f103";
}
.icon-select:before {
  content: "\f104";
}
.icon-radio:before {
  content: "\f105";
}
.icon-key:before {
  content: "\f106";
}
.icon-input:before {
  content: "\f107";
}
.icon-image:before {
  content: "\f108";
}
.icon-home:before {
  content: "\f109";
}
.icon-helicopter:before {
  content: "\f10a";
}
.icon-email:before {
  content: "\f10b";
}
.icon-copy:before {
  content: "\f10c";
}
.icon-checkbox:before {
  content: "\f10d";
}
.icon-car:before {
  content: "\f10e";
}

.icon-spinner {
  animation: 2s spin-animation linear infinite;
}

@keyframes spin-animation {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin-animation {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
