@font-face {
    font-family: "JetBrainsMono";
    font-style: normal;
    font-weight: 700;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/jet-brains-mono/JetBrainsMono-Bold.eot?08211524007740751#iefix") format("embedded-opentype"),
         url("/fonts/jet-brains-mono/JetBrainsMono-Bold.woff2?08211524007740751") format("woff2"),
         url("/fonts/jet-brains-mono/JetBrainsMono-Bold.woff?08211524007740751") format("woff"),
         url("/fonts/jet-brains-mono/JetBrainsMono-Bold.ttf?08211524007740751") format("truetype"),
         url("/fonts/jet-brains-mono/JetBrainsMono-Bold.svg?08211524007740751#JetBrainsMono") format("svg");
}
@font-face {
    font-family: "JetBrainsMono";
    font-style: italic;
    font-weight: 700;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/jet-brains-mono/JetBrainsMono-BoldItalic.eot?08211524007740751#iefix") format("embedded-opentype"),
         url("/fonts/jet-brains-mono/JetBrainsMono-BoldItalic.woff2?08211524007740751") format("woff2"),
         url("/fonts/jet-brains-mono/JetBrainsMono-BoldItalic.woff?08211524007740751") format("woff"),
         url("/fonts/jet-brains-mono/JetBrainsMono-BoldItalic.ttf?08211524007740751") format("truetype"),
         url("/fonts/jet-brains-mono/JetBrainsMono-BoldItalic.svg?08211524007740751#JetBrainsMono") format("svg");
}
@font-face {
    font-family: "JetBrainsMono";
    font-style: normal;
    font-weight: 800;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/jet-brains-mono/JetBrainsMono-ExtraBold.eot?08211524007740751#iefix") format("embedded-opentype"),
         url("/fonts/jet-brains-mono/JetBrainsMono-ExtraBold.woff2?08211524007740751") format("woff2"),
         url("/fonts/jet-brains-mono/JetBrainsMono-ExtraBold.woff?08211524007740751") format("woff"),
         url("/fonts/jet-brains-mono/JetBrainsMono-ExtraBold.ttf?08211524007740751") format("truetype"),
         url("/fonts/jet-brains-mono/JetBrainsMono-ExtraBold.svg?08211524007740751#JetBrainsMono") format("svg");
}
@font-face {
    font-family: "JetBrainsMono";
    font-style: italic;
    font-weight: 800;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/jet-brains-mono/JetBrainsMono-ExtraBoldItalic.eot?08211524007740751#iefix") format("embedded-opentype"),
         url("/fonts/jet-brains-mono/JetBrainsMono-ExtraBoldItalic.woff2?08211524007740751") format("woff2"),
         url("/fonts/jet-brains-mono/JetBrainsMono-ExtraBoldItalic.woff?08211524007740751") format("woff"),
         url("/fonts/jet-brains-mono/JetBrainsMono-ExtraBoldItalic.ttf?08211524007740751") format("truetype"),
         url("/fonts/jet-brains-mono/JetBrainsMono-ExtraBoldItalic.svg?08211524007740751#JetBrainsMono") format("svg");
}
@font-face {
    font-family: "JetBrainsMono";
    font-style: normal;
    font-weight: 200;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/jet-brains-mono/JetBrainsMono-ExtraLight.eot?08211524007740751#iefix") format("embedded-opentype"),
         url("/fonts/jet-brains-mono/JetBrainsMono-ExtraLight.woff2?08211524007740751") format("woff2"),
         url("/fonts/jet-brains-mono/JetBrainsMono-ExtraLight.woff?08211524007740751") format("woff"),
         url("/fonts/jet-brains-mono/JetBrainsMono-ExtraLight.ttf?08211524007740751") format("truetype"),
         url("/fonts/jet-brains-mono/JetBrainsMono-ExtraLight.svg?08211524007740751#JetBrainsMono") format("svg");
}
@font-face {
    font-family: "JetBrainsMono";
    font-style: italic;
    font-weight: 200;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/jet-brains-mono/JetBrainsMono-ExtraLightItalic.eot?08211524007740751#iefix") format("embedded-opentype"),
         url("/fonts/jet-brains-mono/JetBrainsMono-ExtraLightItalic.woff2?08211524007740751") format("woff2"),
         url("/fonts/jet-brains-mono/JetBrainsMono-ExtraLightItalic.woff?08211524007740751") format("woff"),
         url("/fonts/jet-brains-mono/JetBrainsMono-ExtraLightItalic.ttf?08211524007740751") format("truetype"),
         url("/fonts/jet-brains-mono/JetBrainsMono-ExtraLightItalic.svg?08211524007740751#JetBrainsMono") format("svg");
}
@font-face {
    font-family: "JetBrainsMono";
    font-style: italic;
    font-weight: 400;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/jet-brains-mono/JetBrainsMono-Italic.eot?08211524007740751#iefix") format("embedded-opentype"),
         url("/fonts/jet-brains-mono/JetBrainsMono-Italic.woff2?08211524007740751") format("woff2"),
         url("/fonts/jet-brains-mono/JetBrainsMono-Italic.woff?08211524007740751") format("woff"),
         url("/fonts/jet-brains-mono/JetBrainsMono-Italic.ttf?08211524007740751") format("truetype"),
         url("/fonts/jet-brains-mono/JetBrainsMono-Italic.svg?08211524007740751#JetBrainsMono") format("svg");
}
@font-face {
    font-family: "JetBrainsMono";
    font-style: normal;
    font-weight: 300;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/jet-brains-mono/JetBrainsMono-Light.eot?08211524007740751#iefix") format("embedded-opentype"),
         url("/fonts/jet-brains-mono/JetBrainsMono-Light.woff2?08211524007740751") format("woff2"),
         url("/fonts/jet-brains-mono/JetBrainsMono-Light.woff?08211524007740751") format("woff"),
         url("/fonts/jet-brains-mono/JetBrainsMono-Light.ttf?08211524007740751") format("truetype"),
         url("/fonts/jet-brains-mono/JetBrainsMono-Light.svg?08211524007740751#JetBrainsMono") format("svg");
}
@font-face {
    font-family: "JetBrainsMono";
    font-style: italic;
    font-weight: 300;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/jet-brains-mono/JetBrainsMono-LightItalic.eot?08211524007740751#iefix") format("embedded-opentype"),
         url("/fonts/jet-brains-mono/JetBrainsMono-LightItalic.woff2?08211524007740751") format("woff2"),
         url("/fonts/jet-brains-mono/JetBrainsMono-LightItalic.woff?08211524007740751") format("woff"),
         url("/fonts/jet-brains-mono/JetBrainsMono-LightItalic.ttf?08211524007740751") format("truetype"),
         url("/fonts/jet-brains-mono/JetBrainsMono-LightItalic.svg?08211524007740751#JetBrainsMono") format("svg");
}
@font-face {
    font-family: "JetBrainsMono";
    font-style: normal;
    font-weight: 500;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/jet-brains-mono/JetBrainsMono-Medium.eot?08211524007740751#iefix") format("embedded-opentype"),
         url("/fonts/jet-brains-mono/JetBrainsMono-Medium.woff2?08211524007740751") format("woff2"),
         url("/fonts/jet-brains-mono/JetBrainsMono-Medium.woff?08211524007740751") format("woff"),
         url("/fonts/jet-brains-mono/JetBrainsMono-Medium.ttf?08211524007740751") format("truetype"),
         url("/fonts/jet-brains-mono/JetBrainsMono-Medium.svg?08211524007740751#JetBrainsMono") format("svg");
}
@font-face {
    font-family: "JetBrainsMono";
    font-style: italic;
    font-weight: 500;
    font-stretch: 98%;
    font-display: swap;
    src: url("/fonts/jet-brains-mono/JetBrainsMono-MediumItalic.eot?08211524007740751#iefix") format("embedded-opentype"),
         url("/fonts/jet-brains-mono/JetBrainsMono-MediumItalic.woff2?08211524007740751") format("woff2"),
         url("/fonts/jet-brains-mono/JetBrainsMono-MediumItalic.woff?08211524007740751") format("woff"),
         url("/fonts/jet-brains-mono/JetBrainsMono-MediumItalic.ttf?08211524007740751") format("truetype"),
         url("/fonts/jet-brains-mono/JetBrainsMono-MediumItalic.svg?08211524007740751#JetBrainsMono") format("svg");
}
