.jui.jui-otp-input {

  .control-group {

    .group {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .divider {
        height: 1px;
        width: 0.6rem;
        margin: 0 3px;
        background-color: rgb(var(--jui-fg-rgb));
      }

      input {
        height: var(--jui-height);
        width: auto;
        aspect-ratio: 4/5;
        text-align: center;
        color: rgb(var(--jui-fg-rgb));
        background-color: rgb(var(--jui-bg-rgb));
        box-shadow: 0 0 0 0 transparent;
        border: var(--jui-border-width) solid rgb(var(--jui-border-rgb));
        border-radius: var(--jui-border-radius);
        outline: none;
        transition: all .15s ease-in-out;

        &:focus {
          border: var(--jui-border-width) solid rgb(var(--jui-border-focus-rgb));
          box-shadow: var(--jui-box-shadow-focus);
        }
      }
    }
  }

  &.error {

    .control-group {

      .group {

        input {
          border: var(--jui-border-width) solid rgb(var(--jui-error-rgb));
          box-shadow: 0 0 0 0 transparent;
        }
      }
    }
  }

  &.disabled {

    .control-group {

      .group {

        input {
          box-shadow: 0 0 0 0 transparent;
          border: var(--jui-border-width) solid rgb(var(--jui-border-rgb));
          background-color: rgb(var(--jui-bg-disabled-rgb));
          opacity: .8;
        }
      }
    }
  }
}