.jui {
  font-size: $control-font-size;
  box-sizing: border-box;

  * {
    box-sizing: border-box;

    &:before, &:after {
      box-sizing: border-box;
    }
  }
}

.jui {

  ::placeholder {
    color: rgb(var(--jui-placeholder-rgb) / .7);
    font-weight: 400;
    opacity: .6;
  }
}