.jui {

  .control {
    background-color: rgb(var(--jj-bg-rgb));
    font-size: var(--jj-font-md);
    color: rgb(var(--jj-text-rgb));
    box-shadow: none;
    border: $form-border-width solid rgb(var(--jj-border-rgb));
    border-radius: $form-border-radius;
    overflow: hidden;
    display: flex;
    position: relative;
    align-items: stretch;
    justify-content: space-between;
    transition: box-shadow .15s ease-in-out, border-color .15s ease-in-out, background-color .15s ease-in-out;

    input, select {
      width: 100%;
      height: calc($form-height - ($form-border-width * 2));
      padding: $form-padding-y $form-padding-x;
      color: inherit;
      border: none;
      outline: none;
      font-size: inherit;
      background-color: transparent;
    }

    .loader-backdrop {
      inset: 0;
      background-color: rgb(var(--jj-bg-rgb));
      color: rgb(var(--jj-text-rgb) / .6);
      display: none;
      align-items: center;
      justify-content: center;
      position: absolute;
      z-index: 10;
    }
  }

  &:focus-within, &.focus {

    .control {
      border-color: rgb(var(--jj-border-focus-rgb));
      box-shadow: var(--jj-box-shadow-focus);
    }
  }

  &.error {

    .control {
      border-color:  rgb(var(--jj-error-rgb));
      box-shadow: 0 0 0 0 transparent;
    }
  }

  &.disabled {

    .control {
      box-shadow: none;
      border-color: rgb(var(--jj-form-disabled-border-rgb));
      background-color: rgb(var(--jj-form-disabled-bg-rgb));
      opacity: .8;
    }

    .jui-error-message div {
      transform: translateY(0);
    }
  }

  &.loading {

    .control {
      pointer-events: none;
      box-shadow: none;
      border-color:  rgb(var(--jj-form-border-rgb));
      background-color: rgb(var(--jj-form-bg-rgb));
      opacity: 1;

      .loader-backdrop {
        display: flex;
      }
    }

    .jui-error-message div {
      transform: translateY(0);
    }
  }
}