.jj {

  textarea.control {
    padding: $form-padding-x $form-padding-x;
  }

  .control {
    height: $form-height;
    min-height: $form-height;
    width: 100%;
    max-width: 100%;
    background-color: rgb(var(--jj-form-bg-rgb));
    font-size: var(--jj-font-md);
    color: rgb(var(--jj-form-text-rgb));
    box-shadow: none;
    border: var(--jj-border-width) solid rgb(var(--jj-form-border-rgb));
    border-radius: var(--jj-border-radius-md);
    overflow: hidden;
    display: flex;
    position: relative;
    align-items: stretch;
    justify-content: space-between;
    transition: box-shadow .15s ease-in-out, border-color .15s ease-in-out, background-color .15s ease-in-out;

    input, select, .select {
      width: 100%;
      height: calc($form-height - (var(--jj-border-width) * 2));
      padding: $form-padding-y $form-padding-x;
      color: inherit;
      border: none;
      outline: none;
      font-size: inherit;
      background-color: transparent;
    }

    .prefix, .suffix {
      padding: 0 0.75em;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: default;
      user-select: none;
      box-shadow: none;
      white-space: nowrap;
      transition: inherit;
      font-size: inherit;
    }

    > .prefix {
      color: rgb(var(--jj-form-prefix-rgb));
      border-radius: calc(var(--jj-border-radius-md) - 1px) 0 0 calc(var(--jj-border-radius-md) - 1px);
      border-right: var(--jj-border-width) solid rgb(var(--jj-form-border-rgb));
    }

    > .suffix {
      color: rgb(var(--jj-form-suffix-rgb));
      border-radius: 0 calc(var(--jj-border-radius-md) - 1px) calc(var(--jj-border-radius-md) - 1px) 0;
      border-left: var(--jj-border-width) solid rgb(var(--jj-form-border-rgb));
    }
  }

  .control-otp {
    --jj-otp-root-height: $form-height;
    height: var(--jj-otp-root-height);
    position: relative;

    > input {

    }

    .group {

      .symbol {
        height: inherit;
        aspect-ratio: 0.8;
        width: calc($form-height * 0.8);
        text-align: center;
        border: var(--jj-border-width) solid rgb(var(--jj-form-border-rgb));
        border-radius: var(--jj-border-radius-md);
      }
    }
  }

  .control-checkbox {

    input[type="checkbox"] {

      + .checkbox {

        .tick {
          transition-duration: $checkbox-animation-out;
        }
      }
    }

    input[type="checkbox"]:checked {

      + .checkbox {

        .tick {
          transition-duration: 0s;
          animation-duration: $checkbox-animation-in;
          animation-timing-function: $checkbox-animation-ease;
        }
      }
    }
  }

  &:focus-within .control,
  &.focus .control,
  .group .symbol:focus {
    background-color: rgb(var(--jj-form-focus-bg-rgb));
    border-color: rgb(var(--jj-form-focus-border-rgb));
    box-shadow: 0 0 0 1px rgb(var(--jj-black-rgb)), 0 0 3px 0 rgb(var(--jj-form-focus-border-rgb));

    .suffix, .prefix {
      border-color: rgb(var(--jj-form-focus-border-rgb));
      box-shadow: 0 0 2px 0 rgb(var(--jj-form-focus-border-rgb)),
      0 0 2px -1px inset rgb(var(--jj-form-focus-border-rgb));
    }
  }

  &.error {

    .control,
    .control-otp .group .symbol {
      background-color: rgb(var(--jj-form-error-bg-rgb));
      border-color: rgb(var(--jj-form-error-border-rgb));
      box-shadow: none;

      .suffix, .prefix {
        border-color: rgb(var(--jj-form-error-border-rgb));
        box-shadow: none;
      }
    }
  }

  &.disabled {

    .control,
    .control-otp .group .symbol {
      background-color: rgb(var(--jj-form-disabled-bg-rgb));
      border-color: rgb(var(--jj-form-disabled-border-rgb));
      box-shadow: none;
      pointer-events: none;
      opacity: .8;

      .suffix, .prefix {
        color: rgb(var(--jj-prefix-rgb) / .6);
        border-color: rgb(var(--jj-form-disabled-border-rgb));
        box-shadow: none;
      }

      > .prefix {
        color: rgb(var(--jj-form-prefix-rgb) / .6);
      }

      > .suffix {
        color: rgb(var(--jj-form-suffix-rgb) / .6);
      }
    }

    .jj-label {
      opacity: 0.6;
      cursor: default;
    }

    .jj-subscript div {
      transform: translateY(0);
    }
  }

  &.loading:not(.disabled) {

    .control {
      border-color:  rgb(var(--jj-form-border-rgb));
      background-color: rgb(var(--jj-form-bg-rgb));
      box-shadow: none;
      pointer-events: none;
      opacity: 1;
    }

    .overlay {
      inset: 0;
      background-color: rgb(var(--jj-form-bg-rgb));
      color: rgb(var(--jj-form-text-rgb) / .6);
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      z-index: 10;
    }

    .jj-subscript div {
      transform: translateY(0);
    }
  }
}

.jj {

  ::placeholder {
    color: rgb(var(--jj-form-placeholder-rgb) / 1);
    font-weight: 400;
  }

  &.jj-label {
    margin-bottom: $form-margin-top;
  }

  &.jj-subscript {
    padding-top: $form-margin-bottom;

    div {
      transform: translateY(0);
    }

    &.active div {
      transform: translateY(calc(100% + $form-margin-bottom + 2px));
    }
  }

  &.row, &.row-reverse {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .jj-label {
      margin-bottom: 0;
      user-select: none;
    }

    .jj-subscript {
      width: 100%;
    }
  }

  &.row {

    .jj-label {
      order: 2;
    }

    .control-switch, .control-checkbox, .control-radio {
      margin-right: 15px;
      order: 1;
    }

    .jj-subscript {
      order: 3;
    }
  }

  &.row-reverse {

    .jj-label {
      order: 1;
    }

    .control-switch, .control-checkbox, .control-radio {
      margin-left: 15px;
      order: 2;
    }

    .jj-subscript {
      order: 3;
    }
  }
}