.jui-scroll {

  ::-webkit-scrollbar {
    width: $scroll-width;
    height: $scroll-width;
    transition: all .15s ease-in-out;
  }

  ::-webkit-scrollbar-track {
    padding: $scroll-padding-y $scroll-padding-x;
    position: relative;
    background-color: transparent;
  }

  ::-webkit-scrollbar-button {
    height: 8px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: $scroll-width;
    background-color: rgb(var(--jui-bg-hover-rgb) / 0.6);
  }

  ::-webkit-scrollbar-corner {
    display: none;
  }
}