.jui {
  font-size: var(--jui-font-size);
  box-sizing: border-box;

  * {
    box-sizing: border-box;

    &:before, &:after {
      box-sizing: border-box;
    }
  }

  .jui-label {
    margin-bottom: 4px;

    .text {
      color: rgb(var(--jui-label-color));
      font-size: var(--jui-label-font-size);
    }

    .question {
      width: var(--jui-label-font-size);
      height: var(--jui-label-font-size);
      color: rgb(var(--jui-label-color));
      margin-left: 0.5rem;
    }
  }

  .control {
    height: var(--jui-height);
    background-color: rgb(var(--jui-bg-color));
    box-shadow: 0 0 0 0 transparent;
    border: var(--jui-border-width) solid rgb(var(--jui-border-color));
    border-radius: var(--jui-border-radius);
    overflow: hidden;
    display: flex;
    position: relative;
    align-items: stretch;
    justify-content: space-between;
    transition: box-shadow .15s ease-in-out, border-color .15s ease-in-out, background-color .15s ease-in-out;

    input, select {
      width: 100%;
      height: calc(var(--jui-height) - (var(--jui-border-width) * 2));
      padding: var(--jui-padding-y) var(--jui-padding-x);
      border: none;
      outline: none;
      font-size: inherit;
      background-color: transparent;
    }
  }

  .jui-error {
    height: calc(var(--jui-error-font-size) + 4px);
    margin-top: 4px;
    padding-left: 4px;
    font-size: var(--jui-error-font-size);
    line-height: calc(var(--jui-error-font-size) + 2px);
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgb(var(--jui-error-color));
    overflow: hidden;

    div {
      transform: translateY(-100%);
      transition: .15s ease-in-out;
    }

    &.active {

      div {
        transform: translateY(0);
      }
    }
  }

  .jui-overlay {
    inset: 0;
    position: fixed;
    z-index: var(--jui-overlay-z-index);
  }

  &:focus-within, &.focus {

    .control {
      border: var(--jui-border-width) solid rgb(var(--jui-border-focus-color));
      box-shadow: var(--jui-box-shadow-focus);
    }
  }

  &.error {

    .control {
      border: var(--jui-border-width) solid rgb(var(--jui-error-color));
      box-shadow: 0 0 0 0 transparent;
    }
  }

  &.disabled {

    .control {
      box-shadow: none;
      border: var(--jui-border-width) solid rgb(var(--jui-border-color));
      background-color: rgb(var(--jui-bg-disabled-color));
      opacity: .8;
    }
  }
}

.jui.jui-scroll {
  --jui-dropdown-scrol-width: 4px;

  ::-webkit-scrollbar {
    width: var(--jui-dropdown-scrol-width);
    height: var(--jui-dropdown-scrol-width);
    transition: all .15s ease-in-out;
  }

  ::-webkit-scrollbar-track {
    padding: 4px 0;

    position: relative;
    background-color: transparent;
  }

  ::-webkit-scrollbar-button {
    height: 8px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: var(--jui-dropdown-scrol-width);
    background-color: rgb(var(--jui-bg-hover-color) / 0.6);
  }

  ::-webkit-scrollbar-corner {
    display: none;
  }
}