.jui.jui-radio {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .jui-label {
    margin-bottom: 0;
    user-select: none;
  }

  .control-radio {
    width: var(--jui-radio-size);
    height: var(--jui-radio-size);
    margin: 5px 10px;
    position: relative;
    cursor: pointer;
    flex-shrink: 0;
    flex-grow: 0;

    input[type="radio"] {
      inset: 0;
      margin: 0;
      width: var(--jui-radio-size);
      height: var(--jui-radio-size);
      position: absolute;
      opacity: 0;
      z-index: 2;
      cursor: pointer;
    }

    .radio {
      width: var(--jui-radio-size);
      height: var(--jui-radio-size);
      position: absolute;
      z-index: 1;

      .outline, .center {
        fill: none;
        stroke: rgb(var(--jui-checkbox-color));
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2px;
      }

      .center {
        fill: rgb(var(--jui-checkbox-color));
        opacity: 1;
        transform: scale(0,0);
        transform-origin: 12px 12px;
        transition: all .4s cubic-bezier(.45,1.8,.5,.75);
      }
    }

    input[type="radio"]:checked + .radio .center {
      opacity: 1;
      transform: scale(1,1);
    }

    input[type="radio"]:disabled + .radio {

      .outline {
        stroke: rgb(var(--jui-bg-disabled-color));
      }

      .center {
        display: none;
      }
    }
  }

  .jui-error {
    width: 100%;
  }

  &.row {

    .jui-label {
      order: 2;
    }

    .control-radio {
      order: 1;
    }

    .jui-error {
      order: 3;
    }
  }

  &.row-reverse {

    .jui-label {
      order: 1;
    }

    .control-radio {
      order: 2;
    }

    .jui-error {
      order: 3;
    }
  }
}
