:root {
  /* BASE THEME COLORS */
  --jui-black-rgb: 0 0 0;
  --jui-white-rgb: 255 255 255;
  --jui-accent-rgb: 0 115 229;
  --jui-error-rgb: 220 38 38;
  --jui-bg-rgb: 255 255 255;
  --jui-text-rgb: 0 0 0;
  --jui-label-rgb: 25 25 25;
  --jui-shadow-rgb: 209 209 209;
  --jui-border-rgb: 208 208 211;
  --jui-border-focus-rgb: 38 38 38;
  --jui-bg-disabled-rgb: 220 220 220;
  --jui-bg-hover-rgb: 230 230 230;
  --jui-tt-bg-rgb: 255 255 255;
  --jui-tt-border-rgb: 204 204 204;
  --jui-switch-bg-rgb: 228 228 231;
  --jui-checkbox-rgb: 0 0 0;
}

body.dark {
  /* BASE THEME COLORS */
  --jui-black-rgb: 0 0 0;
  --jui-white-rgb: 255 255 255;
  --jui-accent-rgb: 0 115 229;
  --jui-error-rgb: 240 28 28;
  --jui-text-rgb: 255 255 255;
  --jui-label-rgb: 225 225 225;
  --jui-bg-rgb: 29 29 29;
  --jui-shadow-rgb: 209 209 209;
  --jui-border-rgb: 78 78 78;
  --jui-border-focus-rgb: 212 212 212;
  --jui-bg-disabled-rgb: 48 48 48;
  --jui-bg-hover-rgb: 68 68 68;
  --jui-tt-bg-rgb: 0 0 0;
  --jui-tt-border-rgb: 51 51 51;
  --jui-switch-bg-rgb: 65 65 65;
  --jui-checkbox-rgb: 255 255 255;
}

body {
  /* ADDITIONAL COLORS */
  --jui-divider-rgb: var(--jui-label-rgb);
  --jui-placeholder-rgb: var(--jui-label-rgb);
  --jui-prefix-rgb: var(--jui-label-rgb);
  --jui-prefix-border-width: 1px;
  --jui-suffix-rgb: var(--jui-label-rgb);
  --jui-suffix-border-width: 1px;
  --jui-checkbox-tick-color: rgb(var(--jui-checkbox-rgb));
  --jui-box-shadow-focus: 0 0 0 1px rgb(var(--jui-black-rgb)), 0 0 3px 0 rgb(var(--jui-border-focus-rgb));
  --jui-box-shadow: 0 0 12px -1px rgb(var(--jui-black-rgb) / 0.2), 0 0 1px 1px rgb(var(--jui-shadow-rgb) / 0.2);

  /* SIZES PADDINGS ETC */
  --jui-height: 40px;
  --jui-checkbox-size: 20px;
  --jui-radio-size: 18px;
  --jui-switch-width: 46px;
  --jui-label-margin: 4px;
  --jui-error-margin: 2px;
  --jui-padding-x: 0.75rem;
  --jui-padding-y: 0.25rem;
  --jui-border-radius: 6px;
  --jui-border-width: 1px;
  --jui-font-size: 1rem;
  --jui-label-font-size: 0.875rem;
  --jui-error-font-size: 0.75rem;
  --jui-tt-font-size: 12px;
  --jui-error-height: calc(0.75rem + 4px);
  --jui-loading-svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Ccircle cx='4' cy='12' r='0' fill='%23000'%3E%3Canimate fill='freeze' attributeName='r' begin='0;a.end' calcMode='spline' dur='0.5s' keySplines='.36,.6,.31,1' values='0;3'/%3E%3Canimate fill='freeze' attributeName='cx' begin='b.end' calcMode='spline' dur='0.5s' keySplines='.36,.6,.31,1' values='4;12'/%3E%3Canimate fill='freeze' attributeName='cx' begin='c.end' calcMode='spline' dur='0.5s' keySplines='.36,.6,.31,1' values='12;20'/%3E%3Canimate id='e' fill='freeze' attributeName='r' begin='d.end' calcMode='spline' dur='0.5s' keySplines='.36,.6,.31,1' values='3;0'/%3E%3Canimate id='a' fill='freeze' attributeName='cx' begin='e.end' dur='0.001s' values='20;4'/%3E%3C/circle%3E%3Ccircle cx='4' cy='12' r='3' fill='%23000'%3E%3Canimate fill='freeze' attributeName='cx' begin='0;a.end' calcMode='spline' dur='0.5s' keySplines='.36,.6,.31,1' values='4;12'/%3E%3Canimate fill='freeze' attributeName='cx' begin='b.end' calcMode='spline' dur='0.5s' keySplines='.36,.6,.31,1' values='12;20'/%3E%3Canimate id='f' fill='freeze' attributeName='r' begin='c.end' calcMode='spline' dur='0.5s' keySplines='.36,.6,.31,1' values='3;0'/%3E%3Canimate id='d' fill='freeze' attributeName='cx' begin='f.end' dur='0.001s' values='20;4'/%3E%3Canimate fill='freeze' attributeName='r' begin='d.end' calcMode='spline' dur='0.5s' keySplines='.36,.6,.31,1' values='0;3'/%3E%3C/circle%3E%3Ccircle cx='12' cy='12' r='3' fill='%23000'%3E%3Canimate fill='freeze' attributeName='cx' begin='0;a.end' calcMode='spline' dur='0.5s' keySplines='.36,.6,.31,1' values='12;20'/%3E%3Canimate id='g' fill='freeze' attributeName='r' begin='b.end' calcMode='spline' dur='0.5s' keySplines='.36,.6,.31,1' values='3;0'/%3E%3Canimate id='c' fill='freeze' attributeName='cx' begin='g.end' dur='0.001s' values='20;4'/%3E%3Canimate fill='freeze' attributeName='r' begin='c.end' calcMode='spline' dur='0.5s' keySplines='.36,.6,.31,1' values='0;3'/%3E%3Canimate fill='freeze' attributeName='cx' begin='d.end' calcMode='spline' dur='0.5s' keySplines='.36,.6,.31,1' values='4;12'/%3E%3C/circle%3E%3Ccircle cx='20' cy='12' r='3' fill='%23000'%3E%3Canimate id='h' fill='freeze' attributeName='r' begin='0;a.end' calcMode='spline' dur='0.5s' keySplines='.36,.6,.31,1' values='3;0'/%3E%3Canimate id='b' fill='freeze' attributeName='cx' begin='h.end' dur='0.001s' values='20;4'/%3E%3Canimate fill='freeze' attributeName='r' begin='b.end' calcMode='spline' dur='0.5s' keySplines='.36,.6,.31,1' values='0;3'/%3E%3Canimate fill='freeze' attributeName='cx' begin='c.end' calcMode='spline' dur='0.5s' keySplines='.36,.6,.31,1' values='4;12'/%3E%3Canimate fill='freeze' attributeName='cx' begin='d.end' calcMode='spline' dur='0.5s' keySplines='.36,.6,.31,1' values='12;20'/%3E%3C/circle%3E%3C/svg%3E");
  --jui-loading-size: 40px;

  /* Z-INDEX */
  --jui-overlay-z-index: 200;
  --jui-dropdown-z-index: 210;
  --jui-tt-z-index: 210;
}