:root {
  /* BASE THEME COLORS */
  --jui-black-rgb: 0 0 0;
  --jui-white-rgb: 255 255 255;
  --jui-accent-rgb: 0 115 229;
  --jui-error-rgb: 220 38 38;
  --jui-bg-rgb: 255 255 255;
  --jui-fg-rgb: 0 0 0;
  --jui-bg-disabled-rgb: 220 220 220;
  --jui-bg-hover-rgb: 230 230 230;
  --jui-bg-switch-rgb: 228 228 231;
  --jui-border-rgb: 208 208 211;
  --jui-border-focus-rgb: 38 38 38;
  --jui-shadow-rgb: 209 209 209;
  --jui-checkbox-rgb: 0 0 0;
  --jui-tooltip-rgb: 255 255 255;
}

body.dark {
  /* BASE THEME COLORS */
  --jui-black-rgb: 0 0 0;
  --jui-white-rgb: 255 255 255;
  --jui-accent-rgb: 0 115 229;
  --jui-error-rgb: 240 28 28;
  --jui-bg-rgb: 29 29 29;
  --jui-fg-rgb: 255 255 255;
  --jui-bg-disabled-rgb: 48 48 48;
  --jui-bg-hover-rgb: 68 68 68;
  --jui-bg-switch-rgb: 65 65 65;
  --jui-border-rgb: 78 78 78;
  --jui-border-focus-rgb: 212 212 212;
  --jui-shadow-rgb: 209 209 209;
  --jui-checkbox-rgb: 255 255 255;
  --jui-tooltip-rgb: 0 0 0;
}

body {
  /* ADDITIONAL COLORS */
  --jui-label-color: color-mix(in srgb, rgb(var(--jui-fg-rgb)) 80%, rgb(var(--jui-bg-rgb)) 20%);
  --jui-placeholder-color: color-mix(in srgb, rgb(var(--jui-fg-rgb)) 60%, rgb(var(--jui-bg-rgb)) 40%);
  --jui-prefix-color: rgb(var(--jui-label-color));
  --jui-prefix-border-width: 1px;
  --jui-suffix-color: rgb(var(--jui-label-color));
  --jui-suffix-border-width: 1px;
  --jui-checkbox-tick-color: rgb(var(--jui-checkbox-rgb));
  --jui-tooltip-border-color: color-mix(in srgb, rgb(var(--jui-tooltip-rgb)) 80%, rgb(var(--jui-fg-rgb)) 20%);
  --jui-box-shadow-focus: 0 0 0 1px rgb(var(--jui-black-rgb)), 0 0 3px 0 rgb(var(--jui-border-focus-rgb));
  --jui-box-shadow: 0 0 12px -1px rgb(var(--jui-black-rgb) / 0.2), 0 0 1px 1px rgb(var(--jui-shadow-rgb) / 0.2);

  /* SIZES PADDINGS ETC */
  --jui-height: 40px;
  --jui-checkbox-size: 20px;
  --jui-radio-size: 18px;
  --jui-switch-width: 46px;
  --jui-padding-x: 0.75rem;
  --jui-padding-y: 0.25rem;
  --jui-border-radius: 6px;
  --jui-border-width: 1px;
  --jui-font-size: 1rem;
  --jui-label-font-size: 0.875rem;
  --jui-error-font-size: 0.75rem;
  --jui-error-height: calc(0.75rem + 4px);
  --jui-hint-font-size: 0.7rem;
  --jui-overlay-z-index: 200;
  --jui-dropdown-z-index: 210;
}