.jui-option {
  width: 100%;
  /*noinspection CssUnresolvedCustomProperty*/
  height: var(--jui-dropdown-item-height);
  padding: 4px 12px;
  font-size: var(--jui-font-size);
  font-weight: normal;
  text-align: start;
  scroll-snap-align: start;
  border: none;
  outline: none;
  border-radius: calc(var(--jui-border-radius) - 1px);
  background-color: rgb(var(--jui-bg-rgb));
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;

  > .icon {
    width: 20px;
    height: auto;
    min-width: 20px;
    max-width: 20px;
    aspect-ratio: 1/1;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  > .label {
    margin-right: auto;
  }

  > svg {
    width: 16px;
    height: 16px;
    aspect-ratio: 1/1;
    fill: currentColor;
  }

  &.active {
    background-color: rgb(var(--jui-bg-hover-rgb) / 0.6)
  }

  &:hover {
    background-color: rgb(var(--jui-bg-hover-rgb));
  }
}