.jui.jui-select {

  .control {

    .hidden-select {
      width: 0;
      height: 0;
      padding: 0;
      margin: 0;
      position: absolute;
    }

    .fake-input {
      width: 100%;
      height: calc(var(--jui-height) - (var(--jui-border-width) * 2));
      padding: var(--jui-padding-y) var(--jui-padding-x);
      user-select: none;
      display: flex;
      align-items: center;
      justify-content: start;

      > .icon {
        width: 20px;
        height: auto;
        min-width: 20px;
        max-width: 20px;
        aspect-ratio: 1/1;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      > .label {
        margin-right: auto;
      }
    }

    .drop {
      top: 11px;
      right: 11px;
      position: absolute;
    }
  }
}