.jui.jui-select {

  .control {

    .hidden-select {
      width: 0;
      height: 0;
      padding: 0;
      margin: 0;
      position: absolute;
    }

    .fake-input {
      width: 100%;
      height: calc(var(--jui-height) - (var(--jui-border-width) * 2));
      padding: var(--jui-padding-y) var(--jui-padding-x);
      user-select: none;
      display: flex;
      align-items: center;
      justify-content: start;

      .icon {
        margin-right: 10px;
      }

      .label {
        margin-right: auto;
      }
    }

    .drop {
      top: 11px;
      right: 11px;
      position: absolute;
    }
  }
}

.jui.jui-select-dropdown {
  /*noinspection ALL*/
  .jui-dropdown-options {
    top: var(--jui-dropdown-top);
    left: var(--jui-dropdown-left);
    width: var(--jui-dropdown-width);
    height: var(--jui-dropdown-height);
    padding: var(--jui-dropdown-padding);
    color: rgb(var(--jui-fg-color));
    overflow-y: auto;
    scroll-padding-top: var(--jui-dropdown-padding);
    scroll-snap-type: y mandatory;
    background-color: rgb(var(--jui-bg-color));
    box-shadow: var(--jui-box-shadow);
    box-sizing: border-box;
    border-radius: var(--jui-border-radius);
    position: absolute;
    opacity: 1;
    transform: translateY(0) scale(1);
    transition: all .15s ease-in;
    z-index: var(--jui-dropdown-z-index);

    .jui-option {
      width: 100%;
      /*noinspection CssUnresolvedCustomProperty*/
      height: var(--jui-dropdown-item-height);
      padding: 4px 12px;
      font-size: var(--jui-font-size);
      font-weight: normal;
      font-family: inherit;
      text-align: start;
      scroll-snap-align: start;
      color: inherit;
      border: 1px solid transparent;
      outline: none;
      border-radius: calc(var(--jui-border-radius) - 1px);
      background-color: rgb(var(--jui-bg-color));
      display: flex;
      align-items: center;
      justify-content: space-between;

      .icon {
        margin-right: 10px;
      }

      .label {
        margin-right: auto;
      }

      .active {
        width: 16px;
        height: 16px;
        aspect-ratio: 1/1;
      }

      &.active {
        background-color: rgb(var(--jui-bg-hover-color) / 0.6)
      }

      &:hover {
        background-color: rgb(var(--jui-bg-hover-color));
      }
    }

    &.animation-from {
      opacity: 0;
      transform: translateY(16px) scale(0.95);
    }

    &.animation-out {
      opacity: 0;
    }
  }

  .jui-overlay {
    inset: 0;
    position: fixed;
    z-index: var(--jui-overlay-z-index);
  }
}

/* Scroll Styling */
.jui.jui-select-dropdown {
  --jui-dropdown-scrol-width: 4px;

  ::-webkit-scrollbar {
    width: var(--jui-dropdown-scrol-width);
    height: var(--jui-dropdown-scrol-width);
    transition: all .15s ease-in-out;
  }

  ::-webkit-scrollbar-track {
    padding: 4px 0;

    position: relative;
    background-color: transparent;
  }

  ::-webkit-scrollbar-button {
    height: 8px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: var(--jui-dropdown-scrol-width);
    background-color: rgb(var(--jui-bg-hover-color) / 0.6);
  }

  ::-webkit-scrollbar-corner {
    display: none;
  }
}