.jui.jui-select {

  .control {

    .hidden-select {
      width: 0;
      height: 0;
      padding: 0;
      margin: 0;
      position: absolute;
    }

    .fake-input {
      width: 100%;
      height: calc(var(--jui-height) - (var(--jui-border-width) * 2));
      padding: var(--jui-padding-y) var(--jui-padding-x);
      user-select: none;
      display: flex;
      align-items: center;
      justify-content: start;

      > .icon {
        width: 20px;
        height: auto;
        min-width: 20px;
        max-width: 20px;
        aspect-ratio: 1/1;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      > .label {
        margin-right: auto;
      }
    }

    .drop {
      top: 11px;
      right: 11px;
      position: absolute;
    }
  }
}

.jui.jui-select-dropdown {
  /*noinspection ALL*/
  .jui-dropdown-options {
    top: var(--jui-dropdown-top);
    left: var(--jui-dropdown-left);
    width: var(--jui-dropdown-width);
    height: var(--jui-dropdown-height);
    padding: var(--jui-dropdown-padding);
    color: rgb(var(--jui-fg-rgb));
    overflow-y: auto;
    scroll-padding-top: var(--jui-dropdown-padding);
    scroll-snap-type: y mandatory;
    background-color: rgb(var(--jui-bg-rgb));
    box-shadow: var(--jui-box-shadow);
    box-sizing: border-box;
    border-radius: var(--jui-border-radius);
    position: absolute;
    opacity: 1;
    transform: translateY(0) scale(1);
    transition: all .15s ease-in;
    z-index: var(--jui-dropdown-z-index);

    .jui-option {
      width: 100%;
      /*noinspection CssUnresolvedCustomProperty*/
      height: var(--jui-dropdown-item-height);
      padding: 4px 12px;
      font-size: var(--jui-font-size);
      font-weight: normal;
      font-family: inherit;
      text-align: start;
      scroll-snap-align: start;
      color: inherit;
      border: 1px solid transparent;
      outline: none;
      border-radius: calc(var(--jui-border-radius) - 1px);
      background-color: rgb(var(--jui-bg-rgb));
      display: flex;
      align-items: center;
      justify-content: space-between;
      user-select: none;

      > .icon {
        width: 20px;
        height: auto;
        min-width: 20px;
        max-width: 20px;
        aspect-ratio: 1/1;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      > .label {
        margin-right: auto;
      }

      .active {
        width: 16px;
        height: 16px;
        aspect-ratio: 1/1;
      }

      &.active {
        background-color: rgb(var(--jui-bg-hover-rgb) / 0.6)
      }

      &:hover {
        background-color: rgb(var(--jui-bg-hover-rgb));
      }
    }

    &.animation-from {
      opacity: 0;
      transform: translateY(16px) scale(0.95);
    }

    &.animation-out {
      opacity: 0;
    }
  }

  .jui-overlay {
    inset: 0;
    position: fixed;
    z-index: var(--jui-overlay-z-index);
    user-select: none;
  }
}