$schemes: (
  light: (
      'theme': rgb(255 255 255),
      'black': rgb(0 0 0),
      'white': rgb(255 255 255),
      'accent': rgb(0 115 229),
      'primary': rgb(24, 24, 27),
      'secondary': rgb(198, 198, 198),
      'error': rgb(239, 68, 68),
      'background': rgb(255 255 255),
      'foreground': rgb(0 0 0),
      'active': rgb(38 38 38),
      'border': rgb(208 208 211),
      'muted': rgb(220 220 220),
      'switch': rgb(155, 155, 159),
      'modal': rgb(255 255 255),
  ),
  dark: (
      'theme': rgb(0 0 0),
      'black': rgb(0 0 0),
      'white': rgb(255 255 255),
      'accent': rgb(0 115 229),
      'primary': rgb(250, 250, 250),
      'secondary': rgb(39, 39, 42),
      'error': rgb(127, 29, 29),
      'background': rgb(29 29 29),
      'foreground': rgb(255 255 255),
      'active': rgb(212 212 212),
      'border': rgb(78 78 78),
      'muted': rgb(48 48 48),
      'switch': rgb(65 65 65),
      'modal': rgb(18 19 19),
  )
);

@use "../css/css-vars-component" with (
  $schemes: $schemes,
  $form: (
    'height': 40px,
    'margin-top': 4px,
    'margin-bottom': 2px,
    'padding-x': .75em,
    'padding-y': .25em,
    'border-width': 1px,
    'border-radius': .375em,
    'font-base': 1rem,
    'font-label': .875rem,
    'font-sub': 12px,
  ),
  $tooltip: (
    'font-size': 12px,
    'hide-delay': 0s,
    'show-delay': .4s,
    'duration': .2s,
  ),
);

@use '../css/tooltip-component' with (
  $arrow-size: 0.5em,
  $padding: 0.5em 0.75em,
  $indent: 2px,
);

@use '../css/buttons-component' with (
  $height: 40px,
  $padding: 0.5em 1em,
  $font: (
    "size": 1rem,
    "weight": 400,
    "height": 1.5,
  ),
  $border: (
    "width": 1px,
    "radius": .375em,
  ),
  $ring-width: 1px,
  $ring-offset: 2px,
);






