.left-menu {
  width: var(--nav-width);
  height: calc(100vh - var(--header-height));
  padding-right: 40px;
  padding-top: 20px;

  .caption {
    margin: 16px 10px 6px;
    color: rgb(var(--text-secondary));
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
  }

  .nav-link {
    width: auto;
    padding: 10px;
    color: rgb(var(--text-primary));
    border-radius: 4px;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: all .2s ease-in-out;

    .nav-icon {
      top: -1px;
      width: 16px;
      height: auto;
      margin-right: 10px;
      position: relative;

      .icon {
        font-size: 16px;
        display: block;
      }
    }

    .label {
      font-size: 14px;
    }

    &.active {
      background-color: rgb(var(--accent-primary));
      color: rgb(var(--white));
    }
  }
}