.tooltip-page {
  margin-bottom: 200px;

  .options {
    display: flex;
    justify-content: space-between;
    align-items: start;

    .actions {
      display: flex;
      flex-direction: column;
    }
  }

  .preview {

    .actions {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 16px;

      .btn {
        height: 32px;
        padding: 4px 10px;
        font-size: 14px;
      }

      &.position {

        .btn {
          width: 22%;
        }
      }

      &.width {
        margin-top: 16px;

        .btn {
          width: 18%;
        }
      }

      &.fish {
        margin-top: 16px;

        .btn {
          width: 22%;
        }
      }
    }

    .demo {
      height: 180px;
      width: 100%;
      max-width: unset;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      justify-content: center;

    }
  }
}