.jui.jui-label {
  margin-bottom: var(--jui-label-margin);
  color: rgb(var(--jui-label-rgb));
  user-select: none;
  display: block;

  .text {
    font-size: var(--jui-label-font-size);
  }

  .required-marker {
    color: rgb(var(--jui-error-rgb));
    font-size: var(--jui-label-font-size);
  }

  .question {
    width: var(--jui-label-font-size);
    height: var(--jui-label-font-size);
    color: rgb(var(--jui-label-color));
    margin-left: 0.5rem;
  }
}