%placeholder {
  color: rgb(var(--__prefix__c-form-placeholder) / .7);
  font-weight: 400;
}

%input {
  color: inherit;
  border: none;
  outline: none;
  font-size: inherit;
  background-color: transparent;
}

%control {
  height: var(--__prefix__v-form-height);
  font-size: var(--__prefix__v-form-font-base);
  color: rgb(var(--__prefix__c-form-text));
  border-radius: var(--__prefix__v-form-border-radius);
  outline: none;
  overflow: hidden;
  display: flex;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  transition: box-shadow .15s ease-in-out, border-color .15s ease-in-out, background-color .15s ease-in-out;
}

%control-normal {
  background-color: rgb(var(--__prefix__c-form-bg));
  border: var(--__prefix__v-form-border-width) solid rgb(var(--__prefix__c-form-border));
  box-shadow: none;
}

%control-focused {
  background-color: rgb(var(--__prefix__c-form-focus-bg));
  border-color: rgb(var(--__prefix__c-form-focus-border));
  box-shadow: 0 0 0 1px rgb(var(--__prefix__c-black)), 0 0 3px 0 rgb(var(--__prefix__c-form-focus-border));
}

%control-error {
  border-color: rgb(var(--__prefix__c-error));
  box-shadow: none;
}

%control-disabled {
  background-color: rgb(var(--__prefix__c-form-disabled-bg));
  border-color: rgb(var(--__prefix__c-form-disabled-border));
  box-shadow: none;
  pointer-events: none;
  user-select: none;
  opacity: .8;
}

