@use "./mixins/variable";
@use "./mixins/button";
@use "sass:map";

$height: 40px !default;
$padding: 0.5em 1em !default;
$font: ("size": 1rem, "weight": 400, "height": 1.5) !default;
$border: ("width": 1px, "radius": .375em) !default;
$ring-width: 1px !default;
$ring-offset: 2px !default;

.#{variable.$prefix}-btn {
  height: $height;
  padding: $padding;
  font-size: map.get($font, "size");
  font-weight: map.get($font, "weight");
  line-height: map.get($font, "height");
  color: variable.getColor(--foreground);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  border: map.get($border, "width") solid transparent;
  border-radius: map.get($border, "radius");
  transition:
      color .15s ease-in-out,
      background-color .15s ease-in-out,
      border-color .15s ease-in-out,
      box-shadow .15s ease-in-out;

  &:active {
    transition-duration: 0s;
  }

  &:disabled, &[aria-disabled="true"], &.loading {
    box-shadow: none;
    pointer-events: none;
    cursor: default;
  }

  &.loading {
    color: transparent;
    background-size: 26px 26px;
    position: relative;

    &:before {
      content: "";
      top: 2px;
      width: 20px;
      height: 20px;
      box-sizing: border-box;
      position: relative;
      display: inline-block;
      border-radius: 50%;
      border: 3px solid;
      object-fit: cover;
      animation: #{variable.$prefix}-btn-loader 1.7s linear infinite ;
    }

    * {
      display: none;
    }
  }

  &.w-full {
    width: 100%;
    max-width: 100%;
  }
}

@include button.layout("primary", ());

@include button.layout("accent", ());

@include button.layout("secondary", ());

@include button.layout("danger", ());


// Loading animation
@keyframes #{variable.$prefix}-btn-loader {
  0%  {
    transform: rotate(0deg);
    clip-path: polygon(50% 50%, 50% 0%, 100% 0%, 100% 0%, 100% 0%);
  }
  25%  {
    transform: rotate(180deg);
    clip-path: polygon(50% 50%, 50% 0%, 100% 0%, 100% 100%, 100% 100%);
  }
  50%  {
    transform: rotate(360deg);
    clip-path: polygon(50% 50%, 50% 0%, 100% 0%, 100% 100%, 50% 100%);
  }
  70%  {
    transform: rotate(540deg);
    clip-path: polygon(50% 50%, 50% 0%, 100% 0%, 100% 100%, 100% 100%);
  }
  100% {
    transform: rotate(720deg);
    clip-path: polygon(50% 50%, 50% 0%, 100% 0%, 100% 0%, 100% 0%);
  }
}
