@use "mixins/variable";

$width: 4px !default;
$padding: 4px 0 !default;

@include variable.class(scroll) {

  ::-webkit-scrollbar {
    width: $width;
    height: $width;
    transition: all .15s ease-in-out;
  }

  ::-webkit-scrollbar-track {
    padding: $padding;
    position: relative;
    background-color: transparent;
  }

  ::-webkit-scrollbar-button {
    height: 8px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: $width;
    background-color: variable.getColor(--muted, 0.6);
  }

  ::-webkit-scrollbar-corner {
    display: none;
  }
}
