@use "mixins/variable";
@use 'sass:string';

$size: 40px !default;
$spinner-img: none !default;

html {
  --spinner-img: #{string.unquote($spinner-img)};
  --spinner-color: #{variable.getColor(--foreground, .7)};
  --spinner-size: #{$size};
}

@include variable.class(spinner, true) {
  color: var(--spinner-color);
  display: inline-block;
  height: var(--spinner-size);
  width: var(--spinner-size);
  background-color: currentColor;
  mask-image: var(--spinner-img);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}