@use "sass:map";
@use 'sass:color';
@use "./utilites/vars" as vars;
@use "./utilites/color" as colorUtils;

$light: () !default;
$dark: () !default;
$schemes: (
    light: $light,
    dark: $dark,
);

@layer #{vars.$prefix}-variables {
  @each $name, $scheme in $schemes {
    $class-name: "";
    @if ($name == "dark") {
      $class-name: ".dark"
    }

    :root#{$class-name} {
      @each $var-name, $value in $scheme {
        @include vars.register($var-name, $value, "color");
      }

      // Tooltip
      @include vars.register(--tooltip-text, map.get($scheme, 'foreground'), "color");
      @include vars.register(--tooltip-bg, map.get($scheme, 'theme'), "color");
      @include vars.register(--tooltip-border, color.invert(map.get($scheme, 'background'), 15%), "color");

      // Buttons
      @include vars.register(--btn-accent-bg, map.get($scheme, 'accent'), "color");
      @include vars.register(--btn-accent-fg, colorUtils.invert(map.get($scheme, 'accent')), "color");
      @include vars.register(--btn-primary-bg, map.get($scheme, 'primary'), "color");
      @include vars.register(--btn-primary-fg, colorUtils.invert(map.get($scheme, 'primary')), "color");
      @include vars.register(--btn-secondary-bg, map.get($scheme, 'secondary'), "color");
      @include vars.register(--btn-secondary-fg, colorUtils.invert(map.get($scheme, 'secondary')), "color");
      @include vars.register(--btn-danger-bg, map.get($scheme, 'error'), "color");
      @include vars.register(--btn-danger-fg, colorUtils.invert(map.get($scheme, 'error')), "color");

      // Forms
      @include vars.register(--form-label, color.invert(map.get($scheme, 'foreground'), 10%), "color");
      @include vars.register(--form-text, map.get($scheme, 'foreground'), "color");
      @include vars.register(--form-placeholder, color.invert(map.get($scheme, 'foreground'), 50%), "color");
      @include vars.register(--form-border, map.get($scheme, 'border'), "color");
      @include vars.register(--form-bg, map.get($scheme, 'background'), "color");
      @include vars.register(--form-focus-border, map.get($scheme, 'active'), "color");
      @include vars.register(--form-focus-bg, map.get($scheme, 'background'), "color");
      @include vars.register(--form-disabled-border, map.get($scheme, 'muted'), "color");
      @include vars.register(--form-disabled-bg, map.get($scheme, 'muted'), "color");

      // List
      @include vars.register(--list-text, map.get($scheme, 'foreground'), "color");
      @include vars.register(--list-bg, map.get($scheme, 'background'), "color");
      @include vars.register(--list-hover-text, map.get($scheme, 'foreground'), "color");
      @include vars.register(--list-hover-bg, color.invert(map.get($scheme, 'background'), 9%), "color");
      @include vars.register(--list-active-text, map.get($scheme, 'foreground'), "color");
      @include vars.register(--list-active-bg, map.get($scheme, 'background'), "color");

      // Modal
      @include vars.register(--modal-bg, map.get($scheme, 'modal'), "color");
    }
  }
}