@use "sass:color";
@use "sass:math";
@use "./utils" as utils;

@function getForegroundColor($bg-color, $fg-color-default) {
  $fg-color: $fg-color-default;

  $fg-lightness: color.channel($fg-color-default, 'lightness', $space: hsl);
  $bg-lightness: color.channel($bg-color, 'lightness', $space: hsl);

  $diff: math.abs($fg-lightness - $bg-lightness);

  @if $diff < 40% {
    $fg-color: color.invert($fg-color-default);
  }

  @return $fg-color;
}

@mixin colors($name, $base-bg, $fg-color) {
  $base-fg: getForegroundColor($base-bg, $fg-color);

  @include utils.register(--btn-#{$name}-bg, $base-bg, "color");
  @include utils.register(--btn-#{$name}-fg, $base-fg, "color");

  $hover-bg: color.mix($base-fg, $base-bg, 10%);
  @include utils.register(--btn-#{$name}-hover-bg, $hover-bg, "color");
  @include utils.register(--btn-#{$name}-hover-fg, $base-fg, "color");

  $active-bg: color.mix($base-fg, $base-bg, 20%);
  @include utils.register(--btn-#{$name}-active-bg, $active-bg, "color");
  @include utils.register(--btn-#{$name}-active-fg, $base-fg, "color");
}

