@use "sass:string";

@mixin control($control-selector, $input-selector, $input-padding) {

  #{$control-selector} {
    height: var(--__prefix__v-form-height);
    min-height: var(--__prefix__v-form-height);
    width: 100%;
    max-width: 100%;
    background-color: rgb(var(--__prefix__c-form-bg));
    font-size: var(--__prefix__v-form-font-base);
    color: rgb(var(--__prefix__c-form-text));
    box-shadow: none;
    border: var(--__prefix__v-form-border-width) solid rgb(var(--__prefix__c-form-border));
    border-radius: var(--__prefix__v-form-border-radius);
    overflow: hidden;
    display: flex;
    position: relative;
    align-items: stretch;
    justify-content: space-between;
    transition: box-shadow .15s ease-in-out, border-color .15s ease-in-out, background-color .15s ease-in-out;

    #{$input-selector} {
      width: 100%;
      height: calc(var(--__prefix__v-form-height) - (var(--__prefix__v-form-border-width) * 2));
      padding: string.unquote($input-padding);
      color: inherit;
      border: none;
      outline: none;
      font-size: inherit;
      background-color: transparent;
    }

    @content;
  }
}

@mixin focus($focus-selector, $control-selector) {

  #{$focus-selector} {

    #{$control-selector} {
      background-color: rgb(var(--__prefix__c-form-focus-bg));
      border-color: rgb(var(--__prefix__c-form-focus-border));
      box-shadow: 0 0 0 1px rgb(var(--__prefix__c-black)), 0 0 3px 0 rgb(var(--__prefix__c-form-focus-border));

      @content;
    }
  }
}

@mixin error($error-selector, $control-selector) {

  #{$error-selector} {

    #{$control-selector} {
      border-color: rgb(var(--__prefix__c-error));
      box-shadow: none;

      @content;
    }
  }
}

@mixin disabled($disabled-selector, $control-selector) {

  #{$disabled-selector} {

    #{$control-selector} {
      background-color: rgb(var(--__prefix__c-form-disabled-bg));
      border-color: rgb(var(--__prefix__c-form-disabled-border));
      box-shadow: none;
      pointer-events: none;
      opacity: .8;

      @content;
    }

    .__prefix__-label {
      opacity: 0.6;
      cursor: default;
    }

    .__prefix__-subscript {

      div {
        transform: translateY(0);
      }
    }
  }
}

@mixin loading($loading-selector, $control-selector) {

  #{$loading-selector} {

    #{$control-selector} {
      border-color: rgb(var(--__prefix__c-form-border));
      background-color: rgb(var(--__prefix__c-form-bg));
      box-shadow: none;
      pointer-events: none;
      opacity: 1;

      @content
    }

    .__prefix__-subscript {

      div {
        transform: translateY(0);
      }
    }
  }


}