@use "sass:math";

@mixin spinner($selector: ".loader", $size: 7px) {

  #{$selector}, #{$selector}:before, #{$selector}:after {
    border-radius: 50%;
    width: 2em;
    min-width: 2em;
    height: 2em;
    animation-fill-mode: both;
    animation: __prefix__-spinner 1.5s infinite ease-in-out;
  }
  #{$selector} {
    left: calc((2em / 2) * -1);
    top: calc(50% - ($size + 2.5em));
    margin-left: 50%;
    color: rgb(var(--__prefix__c-foreground) / .7);
    position: relative;
    font-size: $size;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.16s;
  }
  #{$selector}:before, #{$selector}:after {
    content: " ";
    position: absolute;
    top: 0;
  }
  #{$selector}:before {
    left: -3.5em;
    animation-delay: -0.32s;
  }
  #{$selector}:after {
    left: 3.5em;
  }

  @keyframes __prefix__-spinner {
    0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
    40% { box-shadow: 0 2.5em 0 0 }
  }
}


