@mixin layout {

  @content;

  &.row, &.row-reverse {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .__prefix__-label {
      margin-bottom: 0;
      user-select: none;
    }

    .__prefix__-subscript {
      width: 100%;
    }
  }

  &.row {

    .__prefix__-label {
      order: 2;
    }

    .control-toggler {
      margin-right: 15px;
      order: 1;
    }

    .__prefix__-subscript {
      order: 3;
    }
  }

  &.row-reverse {

    .__prefix__-label {
      order: 1;
    }

    .control-toggler {
      margin-left: 15px;
      order: 2;
    }

    .__prefix__-subscript {
      order: 3;
    }
  }
}