@use "sass:color";
@use "sass:math";

@function grtTextColor($bg-color, $fg-color-default) {
  $fg-color: $fg-color-default;

  $fg-lightness: color.channel($fg-color-default, 'lightness', $space: hsl);
  $bg-lightness: color.channel($bg-color, 'lightness', $space: hsl);

  $diff: math.abs($fg-lightness - $bg-lightness);

  @if $diff < 40% {
    $fg-color: color.invert($fg-color-default);
  }

  @return $fg-color;
}