@import "/fonts/inter/style.css";
@import "/fonts/jet-brains-mono/style.css";
@import "/fonts/icon-font/icon-font.css";

:root {
  color-scheme: light dark;

  --header-height: 60px;
  --nav-width: 300px;

  --accent-primary: 3 129 253;
  --accent-secondary: 254 182 2;
  --bg-primary: 255 255 255;
  --text-primary: 0 0 0;
  --text-secondary: 67 67 67;
  --border-color: 100 100 100;
  --text-link: var(--accent-primary);
  --white: 255 255 255;
}

body.dark {
  --bg-primary: 16 16 16;
  --text-primary: 255 255 255;
  --text-secondary: 150 150 150;
}

body {
  width: 100vw;
  max-width: 100vw;
  min-width: 320px;
  height: 100vh;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  padding: 0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgb(var(--text-primary));
  background-color: rgb(var(--bg-primary));
  transition: background-color .15s ease-in-out, color .15s ease-in-out;

  * {
    box-sizing: border-box;

    &:after, &:before {
      box-sizing: border-box;
    }
  }
}

a {
  font-weight: 500;
  color: rgb(var(--text-link));
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.container {
  width: 980px;
  max-width: calc(100vw - 20px);
  margin: 0 auto;
}

fieldset {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid rgb(var(--border-color) / .5);

  .actions {

  }

  .demo {
    max-width: 400px;
  }
}

button {
  border: 1px solid transparent;
  padding: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

.btn-primary {
  height: 36px;
  width: 180px;
  padding: 4px 10px;
  color: rgb(var(--white));
  background-color: rgb(var(--accent-primary));
  border-radius: 6px;
  font-size: 1rem;
}

.btn-secondary {
  height: 36px;
  width: 180px;
  padding: 4px 10px;
  background-color: transparent;
  color: rgb(var(--text-primary));
  border: 1px solid rgb(var(--text-primary));
  border-radius: 6px;
  font-size: 1rem;
}

.btn-copy {
  padding: 4px;
  margin: 0;
  background: transparent;
  border: 1px solid transparent;
  outline: none;
  font-size: 20px;
  color: rgb(var(--text-primary));
  opacity: .8;
  transition: opacity .2s ease-in-out;

  &:hover {
    opacity: 1;
  }
}
