.jui.jui-checkbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .jui-label {
    margin-bottom: 0;
    user-select: none;
  }

  .control-checkbox {
    width: var(--jui-checkbox-size);
    height: var(--jui-checkbox-size);
    margin: 5px 10px;
    position: relative;
    cursor: pointer;
    flex-shrink: 0;
    flex-grow: 0;

    input[type="checkbox"] {
      margin: 0;
      width: var(--jui-checkbox-size);
      height: var(--jui-checkbox-size);
      position: absolute;
      opacity: 0;
      z-index: 2;
      cursor: pointer;
    }

    .checkbox {
      width: var(--jui-checkbox-size);
      height: var(--jui-checkbox-size);
      position: absolute;
      z-index: 1;

      .tick, .rect {
        fill: none;
        stroke: rgb(var(--jui-checkbox-color));
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2px;
      }

      .tick {
        stroke-dasharray: 24;
        stroke-dashoffset: 24;
      }
    }

    input[type="checkbox"]:checked + .checkbox .tick {
      animation: checkbox-tick .3s 0s forwards;
    }

    input[type="checkbox"]:disabled + .checkbox {

      .tick, .rect {
        stroke: rgb(var(--jui-border-color));
      }
      .rect {
        fill: rgb(var(--jui-bg-disabled-color));
      }
    }
  }

  .jui-error {
    width: 100%;
  }

  &.row {

    .jui-label {
      order: 2;
    }

    .control-checkbox {
      order: 1;
    }

    .jui-error {
      order: 3;
    }
  }

  &.row-reverse {

    .jui-label {
      order: 1;
    }

    .control-checkbox {
      order: 2;
    }

    .jui-error {
      order: 3;
    }
  }
}

@keyframes checkbox-tick {
  from {
    stroke-dashoffset: 24;
  }
  to {
    stroke-dashoffset: 0;
  }
}