.__prefix__.__prefix__-avatar {
  width: var(--__prefix__-avatar-size);
  height: var(--__prefix__-avatar-size);
  aspect-ratio: 1;
  position: relative;

  .avatar {
    width: var(--__prefix__-avatar-size);
    height: var(--__prefix__-avatar-size);
    border-radius: 999999px;
    overflow: hidden;
    border: var(--__prefix__-avatar-border) solid rgb(var(--__prefix__c-background));
    background-color: rgb(var(--__prefix__c-background));
    animation: __prefix__-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    transition: border-color .2s ease-in-out;

    & > * {
      width: calc(var(--__prefix__-avatar-size) - var(--__prefix__-avatar-border) * 2);
      height: calc(var(--__prefix__-avatar-size) - var(--__prefix__-avatar-border) * 2);
      border-radius: 999999px;
      overflow: hidden;
      aspect-ratio: 1;
      display: block;
      transition: opacity .2s ease-in-out;
      opacity: 0;
    }

    .avatar-placeholder {
      fill: rgb(var(--__prefix__c-accent));
      width: 100%;
      height: 100%;
    }
  }

  .ripple {
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border: 1px solid rgb(var(--__prefix__c-accent));
    border-radius: 999999px;
    position: absolute;
    animation: 1.5s linear 0s infinite normal none running __prefix__-image-ripple;
    display: none;
  }

  &.ready {

    .avatar {
      animation: none;
      border-color: rgb(var(--__prefix__c-accent));

      & > * {
        opacity: 1;
      }
    }
  }

  &.active {

    .avatar {
      border-color: rgb(var(--__prefix__c-accent) / .25)
    }

    .ripple {
      display: block;
    }
  }

  &.loading {

    .avatar {
      animation: __prefix__-image-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
      border-color: rgb(var(--__prefix__c-background));

      & > * {
        opacity: 0;
      }
    }
  }

  &.disabled {
    filter: grayscale(1) brightness(0.5);
    pointer-events: none;
  }
}

@keyframes __prefix__-image-ripple {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes __prefix__-image-pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

