@use "css/mixins/variable";

html {
  --transition-duration-in: .4s;
  --transition-duration-out: .2s;
}

@include variable.class(checkbox, true) {

  .control-checkbox {
    margin: 5px 10px;
    position: relative;
    cursor: pointer;
    flex-shrink: 0;
    flex-grow: 0;

    input[type="checkbox"] {
      margin: 0;
      width: inherit;
      height: inherit;
      position: absolute;
      opacity: 0;
      z-index: 2;
      cursor: pointer;

      + .checkbox {
        width: inherit;
        height: inherit;
        border: 2px solid variable.getColor(--foreground);
        border-radius: 4px;
        position: absolute;
        z-index: 1;

        .tick {
          fill: none;
          stroke: variable.getColor(--foreground);
          stroke-dasharray: 24;
          stroke-dashoffset: 0;
          transition-timing-function: ease-in;
          transition-property: opacity, transform;
          transition-duration: var(--transition-duration-out);
          transform-origin: 8px 8px;
          transform: scale(0,0);
          opacity: 0;
        }
      }
    }

    input[type="checkbox"]:checked {

      + .checkbox {

        .tick {
          opacity: 1;
          transform: scale(1,1);
          transition-duration: 0s;
          animation-duration: var(--transition-duration-in);
          animation-timing-function: cubic-bezier(.4,.0,.23,1);
          animation-name: #{variable.$prefix}-checkbox-checked;
          animation-fill-mode: forwards;
        }
      }
    }

    input[type="checkbox"]:disabled {
      pointer-events: none;

      + .checkbox {
        border-color: variable.getColor(--muted);

        .tick {
          stroke: variable.getColor(--muted);
        }
      }
    }
  }
}

