@use "css-base/form-toggle-base";

.__prefix__.__prefix__-checkbox {

  .control {
    margin: 5px 10px;
    position: relative;
    cursor: pointer;
    flex-shrink: 0;
    flex-grow: 0;

    input[type="checkbox"] {
      margin: 0;
      width: inherit;
      height: inherit;
      position: absolute;
      opacity: 0;
      z-index: 2;
      cursor: pointer;

      + .checkbox {
        width: inherit;
        height: inherit;
        border: 2px solid var(--checkbox-border-color, rgb(var(--__prefix__c-foreground)));
        border-radius: 4px;
        position: absolute;
        z-index: 1;

        .tick {
          fill: none;
          stroke: var(--checkbox-tick-color, rgb(var(--__prefix__c-foreground)));
          stroke-dasharray: 24;
          stroke-dashoffset: 0;
          transition: opacity .2s ease-in, transform .2s  ease-in;
          transform-origin: 8px 8px;
          transform: scale(0,0);
          opacity: 0;
        }
      }
    }

    input[type="checkbox"]:checked {

      + .checkbox {

        .tick {
          opacity: 1;
          transform: scale(1,1);
          transition-duration: 0s;
          animation: __prefix__-checkbox-on-ease .4s cubic-bezier(.4,.0,.23,1);
          animation-fill-mode: forwards;
        }
      }
    }

    input[type="checkbox"]:disabled {
      pointer-events: none;
      cursor: default;

      + .checkbox {
        border-color: rgb(var(--__prefix__c-muted));

        .tick {
          stroke: rgb(var(--__prefix__c-muted));
        }
      }
    }
  }

  &.disabled {

    .__prefix__-label {
      color: rgb(var(--__prefix__c-muted));
      opacity: 1;
      cursor: default;
    }
  }

  @extend %base-toggle;
}

@keyframes __prefix__-checkbox-on-ease {
  from {
    stroke-dashoffset: 24;
  }
  to {
    stroke-dashoffset: 0;
  }
}

