.jj.jj-checkbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .jj-label {
    margin-bottom: 0;
    user-select: none;
  }

  .control-checkbox {
    margin: 5px 10px;
    position: relative;
    cursor: pointer;
    flex-shrink: 0;
    flex-grow: 0;

    input[type="checkbox"] {
      margin: 0;
      width: inherit;
      height: inherit;
      position: absolute;
      opacity: 0;
      z-index: 2;
      cursor: pointer;

      + .checkbox {
        width: inherit;
        height: inherit;
        border: 2px solid rgb(var(--jj-checkbox-border-rgb));
        border-radius: 4px;
        position: absolute;
        z-index: 1;

        .tick {
          fill: none;
          stroke: rgb(var(--jj-checkbox-tick-rgb));
          stroke-dasharray: 24;
          stroke-dashoffset: 0;
          transform-origin: 8px 8px;
          transition-duration: var(--jj-checkbox-animation-out);
          transition-timing-function:  ease-in;
          transition-property: opacity, transform;
          transform: scale(0,0);
          opacity: 0;
        }
      }
    }

    input[type="checkbox"]:checked {

      + .checkbox {

        .tick {
          opacity: 1;
          transform: scale(1,1);
          transition-duration: 0s;
          animation-name: jj-checkbox-checked;
          animation-fill-mode: forwards;
        }
      }
    }

    input[type="checkbox"]:disabled {

      + .checkbox {
        border-color: rgb(var(--jj-form-border-rgb));

        .tick {
          stroke: rgb(var(--jj-form-border-rgb));
        }
      }
    }
  }

  .jj-subscript {
    width: 100%;
  }

  &.row {

    .jj-label {
      order: 2;
    }

    .control-checkbox {
      order: 1;
    }

    .jj-subscript {
      order: 3;
    }
  }

  &.row-reverse {

    .jj-label {
      order: 1;
    }

    .control-checkbox {
      order: 2;
    }

    .jj-subscript {
      order: 3;
    }
  }
}

