.jui.jui-checkbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .jui-label {
    margin-bottom: 0;
    user-select: none;
  }

  .control-checkbox {
    width: $checkbox-size;
    height: $checkbox-size;
    margin: 5px 10px;
    position: relative;
    cursor: pointer;
    flex-shrink: 0;
    flex-grow: 0;

    input[type="checkbox"] {
      margin: 0;
      width: $checkbox-size;
      height: $checkbox-size;
      position: absolute;
      opacity: 0;
      z-index: 2;
      cursor: pointer;

      + .checkbox {
        width: $checkbox-size;
        height: $checkbox-size;
        border: 2px solid rgb(var(--jui-checkbox-rgb));
        border-radius: 4px;
        position: absolute;
        z-index: 1;

        .tick {
          fill: none;
          stroke: rgb(var(--jui-checkbox-rgb));
          stroke-dasharray: 24;
          stroke-dashoffset: 0;
          transform-origin: 8px 8px;
          transition-duration: $checkbox-animation-out;
          transition-timing-function:  ease-in;
          transition-property: opacity, transform;
          transform: scale(0,0);
          opacity: 0;
        }
      }
    }

    input[type="checkbox"]:checked {

      + .checkbox {

        .tick {
          opacity: 1;
          transform: scale(1,1);
          transition-duration: 0s;
          animation-name: jui-checkbox-checked;
          animation-fill-mode: forwards;
          animation-duration: $checkbox-animation-in;
          animation-timing-function: $checkbox-animation-ease;
        }
      }
    }

    input[type="checkbox"]:disabled {

      + .checkbox {
        border-color: rgb(var(--jui-border-rgb));

        .tick {
          stroke: rgb(var(--jui-border-rgb));
        }
      }
    }
  }

  .jui-error-message {
    width: 100%;
  }

  &.row {

    .jui-label {
      order: 2;
    }

    .control-checkbox {
      order: 1;
    }

    .jui-error-message {
      order: 3;
    }
  }

  &.row-reverse {

    .jui-label {
      order: 1;
    }

    .control-checkbox {
      order: 2;
    }

    .jui-error-message {
      order: 3;
    }
  }
}

