.jui.jui-error-message {
  height: $form-error-height;
  padding-left: 4px;
  padding-top: $form-margin-bottom;
  font-size: $form-error-size;
  line-height: 1.2;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgb(var(--jj-error-rgb));
  overflow: hidden;
  pointer-events: none;

  div {
    top: calc(($form-error-height + 2px)  * -1);
    transform: translateY(0);
    transition: .15s ease-in-out;
    position: relative;
  }

  &.active {

    div {
      transform: translateY(calc(100% + $form-margin-bottom + 2px));;
    }
  }
}