@use "./css/mixins/forms";
@use "./css/mixins/spinner";

.__prefix__.__prefix__-input {
  @extend %placeholder;

  .control {
    @extend %control;
    @extend %control-normal;

    > input {
      @extend %input;

      width: 100%;
      padding: var(--__prefix__v-form-padding-y) var(--__prefix__v-form-padding-x);

      &[type="password"] {
        font: small-caption;
        font-size: 16px;
      }
    }

    .prefix, .suffix {
      padding: 0 var(--__prefix__v-form-padding-x);
      color: rgb(var(--__prefix__c-form-text));
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: default;
      user-select: none;
      box-shadow: none;
      white-space: nowrap;
      transition: inherit;
      font-size: inherit;
    }

    > .prefix {
      border-radius: calc(var(--__prefix__v-form-border-radius) - 1px) 0 0 calc(var(--__prefix__v-form-border-radius) - 1px);
      border-right: var(--__prefix__v-form-border-width) solid rgb(var(--__prefix__c-form-border));
    }

    > .suffix {
      border-radius: 0 calc(var(--__prefix__v-form-border-radius) - 1px) calc(var(--__prefix__v-form-border-radius) - 1px) 0;
      border-left: var(--__prefix__v-form-border-width) solid rgb(var(--__prefix__c-form-border));
    }
  }

  &:focus-within {

    .control {
      @extend %control-focused;

      .suffix, .prefix {
        background-color: rgb(var(--__prefix__c-form-focus-bg));
        border-color: rgb(var(--__prefix__c-form-focus-border));
        box-shadow: 0 0 2px 0 rgb(var(--__prefix__c-form-focus-border)),
        0 0 2px -1px inset rgb(var(--__prefix__c-form-focus-border));
      }
    }
  }

  &.error {

    > .control {
      @extend %control-error;

      .suffix, .prefix {
        border-color: rgb(var(--__prefix__c-error));
        box-shadow: none;
      }
    }
  }

  &.disabled {

    .control {
      @extend %control-disabled;

      .suffix, .prefix {
        color: rgb(var(--__prefix__c-form-text) / .6);
        border-color: rgb(var(--__prefix__c-form-disabled-border));
        background-color: rgb(var(--__prefix__c-form-disabled-bg));
        box-shadow: none;
      }

      > .prefix {
        color: rgb(var(--__prefix__c-form-text) / .6);
      }

      > .suffix {
        color: rgb(var(--__prefix__c-form-text) / .6);
      }
    }

    .__prefix__-subscript {

      > .error {
        display: none;
      }
    }
  }

  &.loading:not(.disabled) {

    .control {
      @extend %control-normal;

      > input {
        display: none;
      }
    }

    .__prefix__-subscript {

      > .error {
        display: none;
      }
    }

    @include spinner.spinner(".overlay", 7px);
  }
}