.jj.jj-label {
  color: rgb(var(--jj-form-label-rgb));
  font-size: var(--jj-font-sm);
  cursor: pointer;
  user-select: none;
  display: block;

  .jj-required {
    color: rgb(var(--jj-error-rgb));
    font-size: inherit;
  }
}



