.jui.jui-label {
  margin-bottom: $form-margin-top;
  color: rgb(var(--jj-label-rgb));
  font-size: $form-label-size;
  cursor: pointer;
  user-select: none;
  display: block;

  .jui-text {
    font-size: inherit;
  }

  .jui-required {
    color: rgb(var(--jj-error-rgb));
    font-size: inherit;
  }

  .jui-question {
    width: $form-label-size;
    height: $form-label-size;
    color: rgb(var(--jj-label-rgb));
    margin-left: 0.5rem;
  }
}



