.jui.jui-otp-input {

  .control-group {

    .group {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .divider {
        margin: 0 3px;
        background-color: rgb(var(--jj-divider-rgb));

        &.d-dash {
          height: 1px;
          width: 0.6rem;
        }

        &.d-dot {
          width: 0.4em;
          height: 0.4em;
          border-radius: 50%;
        }

        &.d-rect {
          width: 0.3em;
          height: 0.3em;
        }
      }

      input {
        height: $form-height;
        width: auto;
        aspect-ratio: 4/5;
        text-align: center;
        font-size: inherit;
        color: rgb(var(--jj-text-rgb));
        background-color: rgb(var(--jj-bg-rgb));
        box-shadow: none;
        border: var(--jj-form-border-width) solid rgb(var(--jj-border-rgb));
        border-radius: var(--jj-form-border-radius);
        outline: none;
        transition: all .15s ease-in-out;

        &:focus {
          border: var(--jj-form-border-width) solid rgb(var(--jj-border-focus-rgb));
          box-shadow: var(--jj-box-shadow-focus);
        }
      }
    }
  }

  &.error {

    .control-group {

      .group {

        input {
          border: var(--jj-form-border-width) solid rgb(var(--jj-error-rgb));
          box-shadow: 0 0 0 0 transparent;
        }
      }
    }
  }

  &.disabled {

    .control-group {

      .group {

        input {
          box-shadow: 0 0 0 0 transparent;
          border: var(--jj-form-border-width) solid rgb(var(--jj-border-rgb));
          background-color: rgb(var(--jj-bg-disabled-rgb));
          opacity: .8;
        }
      }
    }
  }
}