.jj.jj-otp-input {

  .control-otp {

    > input {
      border: 0 solid transparent !important;
      outline: 0 solid transparent !important;
      background: transparent !important;
      color: transparent !important;
      opacity: 0 !important;
      box-shadow: none !important;
      -webkit-text-fill-color: transparent !important;
      line-height: 1;
      letter-spacing: -.5em;
      font-family: monospace;
      font-variant-numeric: tabular-nums;

      &::selection {
        background: transparent !important;
        color: transparent !important;
      }

      &:autofill {
        background: transparent !important;
        color: transparent !important;
        border-color: transparent !important;
        opacity: 0 !important;
        box-shadow: none !important;
        -webkit-text-fill-color: transparent !important;
      }
    }

    .group {
      height: inherit;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;

      .symbol {
        color: rgb(var(--jj-form-text-rgb));
        background-color: rgb(var(--jj-form-bg-rgb));
        box-shadow: none;
        outline: none;
        transition: all .15s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;

        &.in:empty:after {
          content: "|";
          color: rgb(var(--jj-form-text-rgb));
          animation: jj-blink 0.8s cubic-bezier(1, 0, 0, 1) infinite;
        }
      }

      .divider {
        margin: 0 3px;
        background-color: rgb(var(--jj-form-border-rgb));

        &.d-dash {
          height: 1px;
          width: 0.6rem;
        }

        &.d-dot {
          width: 0.4em;
          height: 0.4em;
          border-radius: 50%;
        }

        &.d-rect {
          width: 0.3em;
          height: 0.3em;
        }
      }
    }
  }

  &.error {

    .control-group {

      .group {

        input {
          border: var(--jj-form-border-width) solid rgb(var(--jj-error-rgb));
          box-shadow: 0 0 0 0 transparent;
        }
      }
    }
  }

  &.disabled {

    .control-group {

      .group {

        input {
          box-shadow: 0 0 0 0 transparent;
          border: var(--jj-form-border-width) solid rgb(var(--jj-border-rgb));
          background-color: rgb(var(--jj-bg-disabled-rgb));
          opacity: .8;
        }
      }
    }
  }
}