@use "css/mixins/variable";

@include variable.class(otp-input, true) {

  .control-otp {

    .group {
      height: inherit;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;

      .symbol {
        color: variable.getColor(--form-text);
        background-color: variable.getColor(--form-bg);
        box-shadow: none;
        outline: none;
        transition: all .15s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
      }

      .divider {
        margin: 0 3px;
        background-color: variable.getColor(--form-border);

        &.d-dash {
          height: 1px;
          width: 0.6rem;
        }

        &.d-dot {
          width: 0.4em;
          height: 0.4em;
          border-radius: 50%;
        }

        &.d-rect {
          width: 0.3em;
          height: 0.3em;
        }
      }
    }
  }
}