.__prefix__.__prefix__-otp-input {

  .controls-wrap {
    height: var(--__prefix__v-otp-input-height, var(--__prefix__v-form-height));

    .controls {
      height: inherit;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;

      .divider {
        margin: 0 3px;
        background-color: rgb(var(--__prefix__c-form-border));

        &.d-dash {
          height: 1px;
          width: 0.6rem;
        }

        &.d-dot {
          width: 0.4em;
          height: 0.4em;
          border-radius: 50%;
        }

        &.d-rect {
          width: 0.3em;
          height: 0.3em;
        }
      }

      .control {
        height: inherit;
        width: var(--__prefix__v-otp-input-width, calc(var(--__prefix__v-form-height) * 0.8));
        aspect-ratio: 0.8;

        input {
          width: 100%;
          text-align: center;
        }

        &:focus-within {
          background-color: rgb(var(--__prefix__c-form-focus-bg));
          border-color: rgb(var(--__prefix__c-form-focus-border));
        }
      }
    }
  }

  &.error {

    .controls-wrap .controls .control {
      border-color: rgb(var(--__prefix__c-error));
    }
  }

  &.disabled {

    .controls-wrap .controls .control {
      border-color: rgb(var(--__prefix__c-form-disabled-border));
      background-color: rgb(var(--__prefix__c-form-disabled-bg));
      pointer-events: none;
      user-select: none;
      opacity: .8;
    }

    .__prefix__-subscript {

      > .error {
        display: none;
      }
    }
  }
}