.jj.jj-otp-input {

  .control-otp {

    .group {
      height: inherit;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;

      .symbol {
        color: rgb(var(--jj-form-text-rgb));
        background-color: rgb(var(--jj-form-bg-rgb));
        box-shadow: none;
        outline: none;
        transition: all .15s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
      }

      .divider {
        margin: 0 3px;
        background-color: rgb(var(--jj-form-border-rgb));

        &.d-dash {
          height: 1px;
          width: 0.6rem;
        }

        &.d-dot {
          width: 0.4em;
          height: 0.4em;
          border-radius: 50%;
        }

        &.d-rect {
          width: 0.3em;
          height: 0.3em;
        }
      }
    }
  }
}