.jj.jj-radio {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .jj-label {
    margin-bottom: 0;
    user-select: none;
  }

  .control-radio {
    margin: 5px 10px;
    position: relative;
    cursor: pointer;
    flex-shrink: 0;
    flex-grow: 0;

    input[type="radio"] {
      inset: 0;
      margin: 0;
      width: inherit;
      height: inherit;
      position: absolute;
      appearance: none;
      opacity: 0;
      z-index: 2;
    }

    .radio {
      width: inherit;
      height: inherit;
      position: absolute;
      z-index: 1;

      .outline, .center {
        fill: none;
        stroke: rgb(var(--jj-form-checkbox-border-rgb));
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2px;
      }

      .center {
        fill: rgb(var(--jj-form-checkbox-tick-rgb));
        opacity: 1;
        transform: scale(0,0);
        transform-origin: 12px 12px;
        transition: all .4s cubic-bezier(.45,1.8,.5,.75);
      }
    }

    input[type="radio"]:checked + .radio, .radio.active {

      .center {
        opacity: 1;
        transform: scale(1,1);
      }
    }

    input[type="radio"]:disabled + .radio {

      .outline {
        stroke: rgb(var(--jj-bg-disabled-rgb));
      }

      .center {
        display: none;
      }
    }
  }

  .jj-subscript {
    width: 100%;
  }

  &.row {

    .jj-label {
      order: 2;
    }

    .control-radio {
      order: 1;
    }

    .jj-subscript {
      order: 3;
    }
  }

  &.row-reverse {

    .jj-label {
      order: 1;
    }

    .control-radio {
      order: 2;
    }

    .jj-subscript {
      order: 3;
    }
  }
}
