@use "css/mixins/variable";

@include variable.class(select, true) {

  .control {

    .hidden-select {
      width: 0;
      height: 0;
      padding: 0;
      margin: 0;
      position: absolute;
    }

    @include variable.class(list-item) {
      height: 100%;
    }
  }
}

@include variable.class(select-dropdown, true) {

  @include variable.class(list) {
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    box-shadow: 0 0 8px 3px variable.getColor(--black, 0.15);
    position: absolute;
    opacity: 1;
    transform: translateY(0) scale(1);
    transition: all .15s ease-in;
    z-index: variable.get(--zi-dropdown);

    &.animation-from {
      opacity: 0;
      transform: translateY(16px) scale(0.95);
    }

    &.animation-out {
      opacity: 0;
    }
  }

  @include variable.class(list-item) {

    scroll-snap-align: start;
    cursor: pointer;
  }

  @include variable.class(overlay) {
    inset: 0;
    position: fixed;
    z-index: variable.get(--zi-dropdown) - 1;
    user-select: none;
  }
}