.jj.jj-select {

  .control {

    .hidden-select {
      width: 0;
      height: 0;
      padding: 0;
      margin: 0;
      position: absolute;
    }
  }
}

.jj.jj-select-dropdown {
  /*noinspection ALL*/
  .jj-list {
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    box-shadow: var(--jj-shadow-md);
    position: absolute;
    opacity: 1;
    transform: translateY(0) scale(1);
    transition: all .15s ease-in;
    z-index: var(--jj-z-index-dropdown);

    &.animation-from {
      opacity: 0;
      transform: translateY(16px) scale(0.95);
    }

    &.animation-out {
      opacity: 0;
    }
  }

  .jj-list-item {
    scroll-snap-align: start;
    cursor: pointer;
  }

  .jj-overlay {
    inset: 0;
    position: fixed;
    z-index: var(--jj-overlay-z-index);
    user-select: none;
  }
}