:root {
  /* BASE THEME COLORS */
  --rfc-theme: 0 0 0;
  --rfc-theme-negative: 255 255 255;
  --rfc-primary-color: 0 115 229;
  --rfc-error-color: 220 38 38;
  --rfc-black-color: 0 0 0;
  --rfc-white-color: 255 255 255;
  --rfc-text-color: 255 255 255;
  --rfc-label-color: 180 180 180;
  --rfc-border-color: 78 78 78;
  --rfc-disabled-color: 78 78 78;
  --rfc-background-color: 29 29 29;
  --rfc-outline-color: 212 212 216;
  --rfc-shadow-color: 209 209 209;
  --rfc-checkbox-color: 255 255 255;
  --rfc-switch-off-color: 103 103 103;
  --rfc-hover-color: 68 68 68;
  --rfc-hint-color: 0 0 0;

  /* ADDITIONAL COLORS */
  --rfc-prefix-color: rgb(var(--rfc-label-color));
  --rfc-sufix-color: rgb(var(--rfc-label-color));
  --rfc-checkbox-tick-color: rgb(var(--rfc-checkbox-color));
  --rfc-outline-shadow: 0 0 0 1px rgb(var(--rfc-theme)), 0 0 3px 0 rgb(var(--rfc-outline-color));
  --rfc-outline-border: rgb(var(--rfc-outline-color));
  --rfc-dropdown-shadow: 0 0 12px rgb(var(--rfc-black-color) / 0.5), 0 0 1px 1px rgb(var(--rfc-shadow-color) / 0.3);
  --rfc-dropdown-background-color: rgb(var(--rfc-background-color));
  --rfc-dropdown-hover-color: rgb(var(--rfc-hover-color));
  --rfc-dropdown-active-color: rgb(var(--rfc-hover-color) / 0.6);

  /* SIZES PADDINGS ETC */
  --rfc-height: 40px;
  --rfc-checkbox-size: 20px;
  --rfc-switch-width: 46px;
  --rfc-padding-x: 0.75rem;
  --rfc-padding-y: 0.25rem;
  --rfc-border-radius: 6px;
  --rfc-border-width: 1px;
  --rfc-font-size: 1rem;
  --rfc-label-font-size: 0.875rem;
  --rfc-error-font-size: 0.75rem;
  --rfc-hint-font-size: 0.7rem;
  --rfc-dropdown-z-index: 500;
}

.rfc {
  font-size: var(--rfc-font-size);

  .rfc-label {
    margin-bottom: 4px;

    .text {
      color: rgb(var(--rfc-label-color));
      font-size: var(--rfc-label-font-size);
    }

    .hint {
      --rfc-hint-border-color: color-mix(in srgb, rgb(var(--rfc-hint-color) / 0.9) 80%, rgb(var(--rfc-white-color) / 0.9) 20%);
      --rfc-hint-vertical-offset: 1.4rem;

      position: relative;
      box-sizing: border-box;

      .question {
        width: var(--rfc-label-font-size);
        height: var(--rfc-label-font-size);
        color: rgb(var(--rfc-label-color));
        margin-left: 0.5rem;
      }

      .popup {
        left: calc(var(--rfc-label-font-size) / 2 + 0.5rem);
        bottom: calc(var(--rfc-label-font-size) / 2 + var(--rfc-hint-vertical-offset));
        height: min-content;
        width: max-content;
        max-width: 180px;
        padding: 8px 10px;
        text-wrap: balance;
        white-space: pre-wrap;
        font-size: var(--rfc-hint-font-size);
        line-height: 1.4;
        background-color: rgba(var(--rfc-hint-color) / 0.9);
        border: 1px solid var(--rfc-hint-border-color);
        border-radius: calc(var(--rfc-border-radius) - 2px);
        box-shadow: 0 0 .1875rem rgb(var(--rfc-hint-color) / 0.8);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-style: normal;
        position: absolute;
        pointer-events: none;
        opacity: 0;
        transform: translateY(5px) translateX(-50%) scaleX(0.9);
        transition: all .12s ease-in-out 0s;

        &:after {
          content: " ";
          bottom: -12px;
          left: calc(50% - 6px);
          border: 6px solid transparent;
          height: 0;
          width: 0;
          display: block;
          border-top-color: var(--rfc-hint-border-color);
          filter: drop-shadow(0 1px rgb(var(--rfc-hint-color) / 0.8));
          position: absolute;
        }
      }

      .question:hover + .popup {
        opacity: 1;
        transform: translateY(0) translateX(-50%) scaleX(1);
        transition-delay: .15s;
      }
    }
  }

  .control {
    height: var(--rfc-height);
    background-color: rgb(var(--rfc-background-color));
    box-shadow: 0 0 0 0 rgb(var(--rfc-outline-color));
    border: var(--rfc-border-width) solid rgb(var(--rfc-border-color));
    border-radius: var(--rfc-border-radius);
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    position: relative;
    align-items: stretch;
    justify-content: space-between;
    transition: box-shadow .15s ease-in-out, border-color .15s ease-in-out;

    input, select {
      width: 100%;
      height: calc(var(--rfc-height) - (var(--rfc-border-width) * 2));
      padding: var(--rfc-padding-y) var(--rfc-padding-x);
      border: none;
      outline: none;
      font-size: inherit;
      background-color: transparent;
      box-sizing: border-box;
    }
  }

  .rfc-error {
    height: calc(var(--rfc-error-font-size) + 4px);
    margin-top: 4px;
    padding-left: 4px;
    font-size: var(--rfc-error-font-size);
    line-height: calc(var(--rfc-error-font-size) + 2px);
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgb(var(--rfc-error-color));
    overflow: hidden;

    div {
      transform: translateY(-100%);
      transition: .15s ease-in-out;
    }

    &.active {

      div {
        transform: translateY(0);
      }
    }
  }

  &:focus-within, &.focus {

    .control {
      border: var(--rfc-border-width) solid var(--rfc-outline-border);
      box-shadow: var(--rfc-outline-shadow);
    }
  }

  &.error {

    .control {
      border: var(--rfc-border-width) solid rgb(var(--rfc-error-color));
      box-shadow: 0 0 0 0 rgb(var(--rfc-outline-color));
    }
  }

  &.disabled {

    .control {
      box-shadow: 0 0 0 0 rgb(var(--rfc-outline-color));
      border: var(--rfc-border-width) solid rgb(var(--rfc-border-color));
      background-color: color-mix(in srgb, rgb(var(--rfc-background-color)) 80%, rgb(var(--rfc-disabled-color)) 20%);
      opacity: .8;
    }
  }
}

.rfc.rfc-input {

  .control {

    .fix {
      --rfc-inner-border-radius: calc(var(--rfc-border-radius) - 1px);
      padding: 0 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: default;
      user-select: none;
      transition: box-shadow .15s ease-in-out, border-color .15s ease-in-out;
      box-shadow: 0 0 0 0 rgb(var(--rfc-outline-color));

      &.prefix {
        color: var(--rfc-prefix-color);
        border-radius: var(--rfc-inner-border-radius) 0 0 var(--rfc-inner-border-radius);
        border-right: var(--rfc-border-width) solid rgb(var(--rfc-border-color));
      }

      &.suffix {
        color: var(--rfc-sufix-color);
        border-radius: 0 var(--rfc-inner-border-radius) var(--rfc-inner-border-radius) 0;
        border-left: var(--rfc-border-width) solid rgb(var(--rfc-border-color));
      }
    }
  }

  &.focus-manual {

    .control {

      input {
        caret-color: transparent;
      }
    }
  }

  &:focus-within {

    .control {

      .fix {
        border-color: var(--rfc-outline-border);
        box-shadow: 0 0 2px 0 rgb(var(--rfc-outline-color)), 0 0 2px -1px inset rgb(var(--rfc-outline-color));
      }
    }
  }

  &.error {

    .control {

      .fix {
        border-color: rgb(var(--rfc-error-color));
      }
    }
  }

  &.disabled {

    .control {

      .fix {
        border-color: rgb(var(--rfc-border-color));
      }
    }
  }
}

.rfc.rfc-textarea {

  .control {
    width: 100%;
    max-width: 100%;
    min-height: var(--rfc-height);
    padding: var(--rfc-padding-x) var(--rfc-padding-x);
    font-size: var(--rfc-font-size);
    line-height: 1;
    outline: none;

  }
}

.rfc.rfc-checkbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .rfc-label {
    margin-bottom: 0;
    user-select: none;
  }

  .control-checkbox {
    width: var(--rfc-checkbox-size);
    height: var(--rfc-checkbox-size);
    margin: 5px 10px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    flex-shrink: 0;
    flex-grow: 0;

    input[type="checkbox"] {
      margin: 0;
      width: var(--rfc-checkbox-size);
      height: var(--rfc-checkbox-size);
      box-sizing: border-box;
      position: absolute;
      opacity: 0;
      z-index: 2;
    }

    .checkbox {
      width: var(--rfc-checkbox-size);
      height: var(--rfc-checkbox-size);
      fill: rgb(var(--rfc-checkbox-color));
      position: absolute;
      z-index: 1;

      .tick {
        transition: all .1s ease-in-out;
        fill: transparent;
      }
    }

    input[type="checkbox"]:checked + .checkbox .tick {
      fill: var(--rfc-checkbox-tick-color);
    }

    input[type="checkbox"]:disabled + .checkbox {
      fill: rgb(var(--rfc-disabled-color));
    }
  }

  .rfc-error {
    width: 100%;
  }

  &.row {

    .rfc-label {
      order: 2;
    }

    .control-checkbox {
      order: 1;
    }

    .rfc-error {
      order: 3;
    }
  }

  &.row-reverse {

    .rfc-label {
      order: 1;
    }

    .control-checkbox {
      order: 2;
    }

    .rfc-error {
      order: 3;
    }
  }
}

.rfc.rfc-switch {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .rfc-label {
    margin-bottom: 0;
    user-select: none;
  }

  .control-switch {
    --rfc-switch-aspect-ratio: 1.85;
    --rfc-switch-padding: 3px;
    --rfc-switch-height: calc(var(--rfc-switch-width) / var(--rfc-switch-aspect-ratio));
    --rfc-switch-thumb-size: calc(var(--rfc-switch-height) - (var(--rfc-switch-padding) * 2));

    height: var(--rfc-switch-height);
    width: var(--rfc-switch-width);
    aspect-ratio: var(--rfc-switch-aspect-ratio);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    flex-grow: 0;

    input[type="checkbox"] {
      inset: 0;
      margin: 0;
      padding: 0;
      cursor: pointer;
      position: absolute;
      opacity: 0;
      z-index: 3;
    }

    .switch {
      inset: 0;
      display: block;
      position: absolute;
      background-color: rgb(var(--rfc-switch-off-color));
      border-radius: 99999999px;

      .thumb {
        top: var(--rfc-switch-padding);
        left: var(--rfc-switch-padding);
        width: var(--rfc-switch-thumb-size);
        height: var(--rfc-switch-thumb-size);
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: rgb(var(--rfc-white-color));
        box-shadow: 0 0 2px 2px rgb(var(--rfc-black-color) / 0.1);
        transition: left .1s linear;
        display: block;
        position: absolute;
        z-index: 2;
      }
    }

    input[type="checkbox"]:checked + .switch {
      background-color: rgb(var(--rfc-primary-color));

      .thumb {
        left: calc(var(--rfc-switch-width) - var(--rfc-switch-thumb-size) - var(--rfc-switch-padding));
      }
    }

    input[type="checkbox"]:disabled {
      cursor: default;
    }

    input[type="checkbox"]:disabled + .switch {
      opacity: .5;
      background-color: rgb(var(--rfc-disabled-color));
    }
  }

  .rfc-error {
    width: 100%;
  }

  &.row {

    .rfc-label {
      order: 2;
    }

    .control-switch {
      margin-right: 15px;
      order: 1;
    }

    .rfc-error {
      order: 3;
    }
  }

  &.row-reverse {

    .rfc-label {
      order: 1;
    }

    .control-switch {
      margin-left: 15px;
      order: 2;
    }

    .rfc-error {
      order: 3;
    }
  }
}

.rfc.rfc-verify-code {

  .control-group {

    .group {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .divider {
        height: 1px;
        width: 0.6rem;
        margin: 0 3px;
        background-color: rgb(var(--rfc-text-color));
      }

      input {
        height: var(--rfc-height);
        width: auto;
        aspect-ratio: 4/5;
        text-align: center;
        background-color: rgb(var(--rfc-background-color));
        box-shadow: 0 0 0 0 rgb(var(--rfc-outline-color));
        border: var(--rfc-border-width) solid rgb(var(--rfc-border-color));
        border-radius: var(--rfc-border-radius);
        outline: none;
        transition: all .15s ease-in-out;
        box-sizing: border-box;

        &:focus {
          border: var(--rfc-border-width) solid var(--rfc-outline-border);
          box-shadow: var(--rfc-outline-shadow);
        }
      }
    }
  }

  &.error {

    .control-group {

      .group {

        input {
          border: var(--rfc-border-width) solid rgb(var(--rfc-error-color));
          box-shadow: 0 0 0 0 rgb(var(--rfc-outline-color));
        }
      }
    }
  }

  &.disabled {

    .control-group {

      .group {

        input {
          box-shadow: 0 0 0 0 rgb(var(--rfc-outline-color));
          border: var(--rfc-border-width) solid rgb(var(--rfc-border-color));
          opacity: .6;
        }
      }
    }
  }
}

.rfc.rfc-select {

  .control {

    .hidden-select {
      width: 0;
      height: 0;
      padding: 0;
      margin: 0;
      position: absolute;
    }

    .fake-input {
      width: 100%;
      height: calc(var(--rfc-height) - (var(--rfc-border-width) * 2));
      padding: var(--rfc-padding-y) var(--rfc-padding-x);
      user-select: none;
      display: flex;
      align-items: center;
      box-sizing: border-box;
    }

    .icon {
      top: 11px;
      right: 11px;
      position: absolute;
    }
  }
}

.rfc-dropdown {
  --rfc-dropdown-scrol-width: 4px;

  ::-webkit-scrollbar {
    width: var(--rfc-dropdown-scrol-width);
    height: var(--rfc-dropdown-scrol-width);
    transition: all .15s ease-in-out;
  }

  ::-webkit-scrollbar-track {
    padding: 4px 0;

    position: relative;
    background-color: transparent;
  }

  ::-webkit-scrollbar-button {
    height: 8px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: var(--rfc-dropdown-scrol-width);
    background-color: var(--rfc-dropdown-active-color);
  }

  ::-webkit-scrollbar-corner {
    display: none;
  }

  /*noinspection ALL*/
  .select-dropdown-options {
    top: var(--rfc-dropdown-top);
    left: var(--rfc-dropdown-left);
    width: var(--rfc-dropdown-width);
    height: var(--rfc-dropdown-height);
    padding: var(--rfc-dropdown-padding);
    overflow-y: auto;
    scroll-padding-top: var(--rfc-dropdown-padding);
    scroll-snap-type: y mandatory;
    background-color: var(--rfc-dropdown-background-color);
    box-shadow: var(--rfc-dropdown-shadow);
    box-sizing: border-box;
    border-radius: calc(var(--rfc-border-radius) + 2px);
    position: absolute;
    opacity: 1;
    transform: translateY(0) scale(1);
    transition: all .15s ease-in;
    z-index: var(--rfc-dropdown-z-index);

    .btn-option {
      width: 100%;
      /*noinspection CssUnresolvedCustomProperty*/
      height: var(--rfc-dropdown-item-height);
      padding: 4px 12px;
      border: 1px solid transparent;
      outline: none;
      border-radius: var(--rfc-border-radius);
      font-weight: normal;
      font-family: inherit;
      text-align: start;
      scroll-snap-align: start;
      background-color: var(--rfc-dropdown-background-color);
      display: flex;
      align-items: center;
      justify-content: space-between;

      &.active {
        background-color: var(--rfc-dropdown-active-color);
      }

      &:hover {
        background-color: var(--rfc-dropdown-hover-color);
      }
    }

    &.animation-from {
      opacity: 0;
      transform: translateY(16px) scale(0.95);
    }

    &.animation-out {
      opacity: 0;
    }
  }

  .select-dropdown-overlay {
    inset: 0;
    position: fixed;
    z-index: calc(var(--rfc-dropdown-z-index) - 1);
  }
}

