:root {
  /* BASE THEME COLORS */
  --jui-black-color: 0 0 0;
  --jui-white-color: 255 255 255;
  --jui-accent-color: 0 115 229;
  --jui-error-color: 220 38 38;
  --jui-text-color: 255 255 255;
  --jui-label-color: 180 180 180;
  --jui-bg-color: 29 29 29;
  --jui-bg-disabled-color: 48 48 48;
  --jui-bg-hover-color: 68 68 68;
  --jui-bg-switch-color: 65 65 65;
  --jui-border-color: 78 78 78;
  --jui-border-focus-color: 212 212 212;
  --jui-shadow-color: 209 209 209;
  --jui-checkbox-color: 255 255 255;
  --jui-hint-color: 0 0 0;

  /* ADDITIONAL COLORS */
  --jui-prefix-color: rgb(var(--jui-label-color));
  --jui-sufix-color: rgb(var(--jui-label-color));
  --jui-checkbox-tick-color: rgb(var(--jui-checkbox-color));
  --jui-box-shadow-focus: 0 0 0 1px rgb(var(--jui-black-color)), 0 0 3px 0 rgb(var(--jui-border-focus-color));
  --jui-box-shadow: 0 0 12px rgb(var(--jui-black-color) / 0.5), 0 0 1px 1px rgb(var(--jui-shadow-color) / 0.3);

  /* SIZES PADDINGS ETC */
  --jui-height: 40px;
  --jui-checkbox-size: 24px;
  --jui-switch-width: 46px;
  --jui-padding-x: 0.75rem;
  --jui-padding-y: 0.25rem;
  --jui-border-radius: 6px;
  --jui-border-width: 1px;
  --jui-font-size: 1rem;
  --jui-label-font-size: 0.875rem;
  --jui-error-font-size: 0.75rem;
  --jui-hint-font-size: 0.7rem;
  --jui-overlay-z-index: 200;
  --jui-dropdown-z-index: 210;

  @media (prefers-color-scheme: light) {

  }
}

.jui {
  font-size: var(--jui-font-size);
  box-sizing: border-box;

  * {
    box-sizing: border-box;

    &:before, &:after {
      box-sizing: border-box;
    }
  }

  .jui-label {
    margin-bottom: 4px;

    .text {
      color: rgb(var(--jui-label-color));
      font-size: var(--jui-label-font-size);
    }

    .hint {
      --jui-hint-border-color: color-mix(in srgb, rgb(var(--jui-hint-color) / 0.9) 80%, rgb(var(--jui-white-color) / 0.9) 20%);
      --jui-hint-vertical-offset: 1.4rem;

      position: relative;

      .question {
        width: var(--jui-label-font-size);
        height: var(--jui-label-font-size);
        color: rgb(var(--jui-label-color));
        margin-left: 0.5rem;
      }

      .popup {
        left: calc(var(--jui-label-font-size) / 2 + 0.5rem);
        bottom: calc(var(--jui-label-font-size) / 2 + var(--jui-hint-vertical-offset));
        height: min-content;
        width: max-content;
        max-width: 180px;
        padding: 8px 10px;
        text-wrap: balance;
        white-space: pre-wrap;
        font-size: var(--jui-hint-font-size);
        line-height: 1.4;
        background-color: rgba(var(--jui-hint-color) / 0.9);
        border: 1px solid var(--jui-hint-border-color);
        border-radius: calc(var(--jui-border-radius) - 2px);
        box-shadow: 0 0 .1875rem rgb(var(--jui-hint-color) / 0.8);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-style: normal;
        position: absolute;
        pointer-events: none;
        opacity: 0;
        transform: translateY(5px) translateX(-50%) scaleX(0.9);
        transition: all .12s ease-in-out 0s;

        &:after {
          content: " ";
          bottom: -12px;
          left: calc(50% - 6px);
          border: 6px solid transparent;
          height: 0;
          width: 0;
          display: block;
          border-top-color: var(--jui-hint-border-color);
          filter: drop-shadow(0 1px rgb(var(--jui-hint-color) / 0.8));
          position: absolute;
        }
      }

      .question:hover + .popup {
        opacity: 1;
        transform: translateY(0) translateX(-50%) scaleX(1);
        transition-delay: .15s;
      }
    }
  }

  .control {
    height: var(--jui-height);
    background-color: rgb(var(--jui-bg-color));
    box-shadow: 0 0 0 0 transparent;
    border: var(--jui-border-width) solid rgb(var(--jui-border-color));
    border-radius: var(--jui-border-radius);
    overflow: hidden;
    display: flex;
    position: relative;
    align-items: stretch;
    justify-content: space-between;
    transition: box-shadow .15s ease-in-out, border-color .15s ease-in-out, background-color .15s ease-in-out;

    input, select {
      width: 100%;
      height: calc(var(--jui-height) - (var(--jui-border-width) * 2));
      padding: var(--jui-padding-y) var(--jui-padding-x);
      border: none;
      outline: none;
      font-size: inherit;
      background-color: transparent;
    }
  }

  .jui-error {
    height: calc(var(--jui-error-font-size) + 4px);
    margin-top: 4px;
    padding-left: 4px;
    font-size: var(--jui-error-font-size);
    line-height: calc(var(--jui-error-font-size) + 2px);
    white-space: nowrap;
    text-overflow: ellipsis;
    color: rgb(var(--jui-error-color));
    overflow: hidden;

    div {
      transform: translateY(-100%);
      transition: .15s ease-in-out;
    }

    &.active {

      div {
        transform: translateY(0);
      }
    }
  }

  .jui-overlay {
    inset: 0;
    position: fixed;
    z-index: var(--jui-overlay-z-index);
  }

  &:focus-within, &.focus {

    .control {
      border: var(--jui-border-width) solid rgb(var(--jui-border-focus-color));
      box-shadow: var(--jui-box-shadow-focus);
    }
  }

  &.error {

    .control {
      border: var(--jui-border-width) solid rgb(var(--jui-error-color));
      box-shadow: 0 0 0 0 transparent;
    }
  }

  &.disabled {

    .control {
      box-shadow: none;
      border: var(--jui-border-width) solid rgb(var(--jui-border-color));
      background-color: rgb(var(--jui-bg-disabled-color));
      opacity: .8;
    }
  }
}

.jui.jui-input {

  .control {

    .fix {
      --jui-inner-border-radius: calc(var(--jui-border-radius) - 1px);
      padding: 0 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: default;
      user-select: none;
      transition: box-shadow .15s ease-in-out, border-color .15s ease-in-out;
      box-shadow: 0 0 0 0 transparent;

      &.prefix {
        color: var(--jui-prefix-color);
        border-radius: var(--jui-inner-border-radius) 0 0 var(--jui-inner-border-radius);
        border-right: var(--jui-border-width) solid rgb(var(--jui-border-color));
      }

      &.suffix {
        color: var(--jui-sufix-color);
        border-radius: 0 var(--jui-inner-border-radius) var(--jui-inner-border-radius) 0;
        border-left: var(--jui-border-width) solid rgb(var(--jui-border-color));
      }
    }
  }

  &.focus-manual {

    .control {

      input {
        caret-color: transparent;
      }
    }
  }

  &:focus-within {

    .control {

      .fix {
        border-color: rgb(var(--jui-border-focus-color));
        box-shadow: 0 0 2px 0 rgb(var(--jui-border-focus-color)), 0 0 2px -1px inset rgb(var(--jui-border-focus-color));
      }
    }
  }

  &.error {

    .control {

      .fix {
        border-color: rgb(var(--jui-error-color));
        box-shadow: 0 0 0 0 transparent;
      }
    }
  }

  &.disabled {

    .control {

      .fix {
        border-color: rgb(var(--jui-border-color));
      }
    }
  }
}

.jui.jui-textarea {

  .control {
    width: 100%;
    max-width: 100%;
    min-height: var(--jui-height);
    padding: var(--jui-padding-x) var(--jui-padding-x);
    font-size: var(--jui-font-size);
    line-height: 1;
    outline: none;

  }
}

.jui.jui-checkbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .jui-label {
    margin-bottom: 0;
    user-select: none;
  }

  .control-checkbox {
    width: var(--jui-checkbox-size);
    height: var(--jui-checkbox-size);
    margin: 5px 10px;
    position: relative;
    cursor: pointer;
    flex-shrink: 0;
    flex-grow: 0;

    input[type="checkbox"] {
      margin: 0;
      width: var(--jui-checkbox-size);
      height: var(--jui-checkbox-size);
      position: absolute;
      opacity: 0;
      z-index: 2;
    }

    .checkbox {
      width: var(--jui-checkbox-size);
      height: var(--jui-checkbox-size);
      position: absolute;
      z-index: 1;

      .tick, .rect {
        fill: none;
        stroke: rgb(var(--jui-checkbox-color));
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 2px;
      }

      .tick {
        stroke-dasharray: 24;
        stroke-dashoffset: 24;
      }
    }

    input[type="checkbox"]:checked + .checkbox .tick {
      animation: checkbox-tick .3s 0s forwards;
    }

    input[type="checkbox"]:disabled + .checkbox {

      .tick, .rect {
        stroke: rgb(var(--jui-border-color));
      }
      .rect {
        fill: rgb(var(--jui-bg-disabled-color));
      }
    }
  }

  .jui-error {
    width: 100%;
  }

  &.row {

    .jui-label {
      order: 2;
    }

    .control-checkbox {
      order: 1;
    }

    .jui-error {
      order: 3;
    }
  }

  &.row-reverse {

    .jui-label {
      order: 1;
    }

    .control-checkbox {
      order: 2;
    }

    .jui-error {
      order: 3;
    }
  }
}

.jui.jui-switch {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .jui-label {
    margin-bottom: 0;
    user-select: none;
  }

  .control-switch {
    --jui-switch-aspect-ratio: 1.85;
    --jui-switch-padding: 3px;
    --jui-switch-height: calc(var(--jui-switch-width) / var(--jui-switch-aspect-ratio));
    --jui-switch-thumb-size: calc(var(--jui-switch-height) - (var(--jui-switch-padding) * 2));

    height: var(--jui-switch-height);
    width: var(--jui-switch-width);
    aspect-ratio: var(--jui-switch-aspect-ratio);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    flex-grow: 0;

    input[type="checkbox"] {
      inset: 0;
      margin: 0;
      padding: 0;
      cursor: pointer;
      position: absolute;
      opacity: 0;
      z-index: 3;
    }

    .switch {
      inset: 0;
      display: block;
      position: absolute;
      background-color: rgb(var(--jui-bg-switch-color));
      transition: background-color .1s linear;
      border-radius: 99999999px;

      .thumb {
        top: var(--jui-switch-padding);
        left: var(--jui-switch-padding);
        width: var(--jui-switch-thumb-size);
        height: var(--jui-switch-thumb-size);
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: rgb(var(--jui-white-color));
        box-shadow: 0 0 2px 2px rgb(var(--jui-black-color) / 0.1);
        transition: left .1s linear;
        display: block;
        position: absolute;
        z-index: 2;
      }
    }

    input[type="checkbox"]:checked + .switch {
      background-color: rgb(var(--jui-accent-color));

      .thumb {
        left: calc(var(--jui-switch-width) - var(--jui-switch-thumb-size) - var(--jui-switch-padding));
      }
    }

    input[type="checkbox"]:disabled {
      cursor: default;
    }

    input[type="checkbox"]:disabled + .switch {
      background-color: rgb(var(--jui-bg-disabled-color));
      opacity: .8;
    }
  }

  .jui-error {
    width: 100%;
  }

  &.row {

    .jui-label {
      order: 2;
    }

    .control-switch {
      margin-right: 15px;
      order: 1;
    }

    .jui-error {
      order: 3;
    }
  }

  &.row-reverse {

    .jui-label {
      order: 1;
    }

    .control-switch {
      margin-left: 15px;
      order: 2;
    }

    .jui-error {
      order: 3;
    }
  }
}

.jui.jui-verify-code {

  .control-group {

    .group {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .divider {
        height: 1px;
        width: 0.6rem;
        margin: 0 3px;
        background-color: rgb(var(--jui-text-color));
      }

      input {
        height: var(--jui-height);
        width: auto;
        aspect-ratio: 4/5;
        text-align: center;
        background-color: rgb(var(--jui-bg-color));
        box-shadow: 0 0 0 0 transparent;
        border: var(--jui-border-width) solid rgb(var(--jui-border-color));
        border-radius: var(--jui-border-radius);
        outline: none;
        transition: all .15s ease-in-out;

        &:focus {
          border: var(--jui-border-width) solid rgb(var(--jui-border-focus-color));
          box-shadow: var(--jui-box-shadow-focus);
        }
      }
    }
  }

  &.error {

    .control-group {

      .group {

        input {
          border: var(--jui-border-width) solid rgb(var(--jui-error-color));
          box-shadow: 0 0 0 0 transparent;
        }
      }
    }
  }

  &.disabled {

    .control-group {

      .group {

        input {
          box-shadow: 0 0 0 0 transparent;
          border: var(--jui-border-width) solid rgb(var(--jui-border-color));
          background-color: rgb(var(--jui-bg-disabled-color));
          opacity: .8;
        }
      }
    }
  }
}

.jui.jui-select {

  .control {

    .hidden-select {
      width: 0;
      height: 0;
      padding: 0;
      margin: 0;
      position: absolute;
    }

    .fake-input {
      width: 100%;
      height: calc(var(--jui-height) - (var(--jui-border-width) * 2));
      padding: var(--jui-padding-y) var(--jui-padding-x);
      user-select: none;
      display: flex;
      align-items: center;
    }

    .icon {
      top: 11px;
      right: 11px;
      position: absolute;
    }
  }
}

.jui.jui-scroll {
  --jui-dropdown-scrol-width: 4px;

  ::-webkit-scrollbar {
    width: var(--jui-dropdown-scrol-width);
    height: var(--jui-dropdown-scrol-width);
    transition: all .15s ease-in-out;
  }

  ::-webkit-scrollbar-track {
    padding: 4px 0;

    position: relative;
    background-color: transparent;
  }

  ::-webkit-scrollbar-button {
    height: 8px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: var(--jui-dropdown-scrol-width);
    background-color: rgb(var(--jui-bg-hover-color) / 0.6);
  }

  ::-webkit-scrollbar-corner {
    display: none;
  }
}

.jui.jui-dropdown {
  /*noinspection ALL*/
  .jui-dropdown-options {
    top: var(--jui-dropdown-top);
    left: var(--jui-dropdown-left);
    width: var(--jui-dropdown-width);
    height: var(--jui-dropdown-height);
    padding: var(--jui-dropdown-padding);
    overflow-y: auto;
    scroll-padding-top: var(--jui-dropdown-padding);
    scroll-snap-type: y mandatory;
    background-color: rgb(var(--jui-bg-color));
    box-shadow: var(--jui-box-shadow);
    box-sizing: border-box;
    border-radius: var(--jui-border-radius);
    position: absolute;
    opacity: 1;
    transform: translateY(0) scale(1);
    transition: all .15s ease-in;
    z-index: var(--jui-dropdown-z-index);

    .jui-option {
      width: 100%;
      /*noinspection CssUnresolvedCustomProperty*/
      height: var(--jui-dropdown-item-height);
      padding: 4px 12px;
      border: 1px solid transparent;
      outline: none;
      border-radius: calc(var(--jui-border-radius) - 1px);
      font-weight: normal;
      font-family: inherit;
      text-align: start;
      scroll-snap-align: start;
      background-color: rgb(var(--jui-bg-color));
      display: flex;
      align-items: center;
      justify-content: space-between;

      &.active {
        background-color: rgb(var(--jui-bg-hover-color) / 0.6)
      }

      &:hover {
        background-color: rgb(var(--jui-bg-hover-color));
      }
    }

    &.animation-from {
      opacity: 0;
      transform: translateY(16px) scale(0.95);
    }

    &.animation-out {
      opacity: 0;
    }
  }
}

@keyframes checkbox-tick {
  from {
    stroke-dashoffset: 24;
  }
  to {
    stroke-dashoffset: 0;
  }
}