.jj.jj-subscript {
  height: calc(var(--jj-font-xs) + 4px);
  padding-left: var(--jj-border-radius-md);
  font-size: var(--jj-font-xs);
  line-height: 1.2;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  pointer-events: none;

  div {
    top: calc((var(--jj-font-xs) + 6px) * -1);
    color: rgb(var(--jj-form-error-border-rgb));
    transition: .15s ease-in-out;
    position: relative;
  }
}