.jj.jj-switch {

  .control-switch {
    height: var(--jj-switch-height);
    width: var(--jj-switch-width);
    aspect-ratio: var(--jj-switch-ratio);
    cursor: pointer;
    user-select: none;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    flex-grow: 0;

    input[type="checkbox"] {
      inset: 0;
      margin: 0;
      padding: 0;
      cursor: pointer;
      position: absolute;
      opacity: 0;
      z-index: 3;
    }

    .switch {
      inset: 0;
      display: block;
      position: absolute;
      background-color: rgb(var(--jj-switch-bg-rgb));
      transition: background-color .1s linear;
      border-radius: 99999999px;

      .thumb {
        top: var(--jj-switch-padding);
        left: var(--jj-switch-padding);
        width: var(--jj-switch-thumb-size);
        height: var(--jj-switch-thumb-size);
        aspect-ratio: 1/1;
        border-radius: 50%;
        background-color: rgb(var(--jj-white-rgb));
        box-shadow: 0 0 2px 1px rgb(var(--jj-black-rgb) / 0.1);
        transition: left .1s linear;
        display: block;
        position: absolute;
        z-index: 2;
      }
    }

    input[type="checkbox"]:checked + .switch {
      background-color: rgb(var(--jj-accent-rgb));

      .thumb {
        left: calc(var(--jj-switch-width) - var(--jj-switch-thumb-size) - var(--jj-switch-padding));
      }
    }

    input[type="checkbox"]:disabled {
      cursor: default;
    }

    input[type="checkbox"]:disabled + .switch {
      background-color: rgb(var(--jj-switch-disabled-bg-rgb));
      opacity: .8;
    }
  }
}