.__prefix__.__prefix__-textarea {

  .control {
    overflow: auto;
    width: 100%;
    line-height: 1.3;
    background-color: transparent;
    box-sizing: content-box;
    padding: var(--__prefix__v-form-padding-x) var(--__prefix__v-form-padding-x);
  }

  &.disabled {

    textarea.control {
      border-color: rgb(var(--__prefix__c-form-disabled-border));
      background-color: rgb(var(--__prefix__c-form-disabled-bg));
    }

    .__prefix__-subscript {

      > .error {
        display: none;
      }
    }
  }

  &.loading:not(.disabled) {

    ::placeholder {
      color: rgb(var(--__prefix__c-form-disabled-bg));
    }

    textarea.control {
      border-color: rgb(var(--__prefix__c-form-disabled-border));
      background-color: rgb(var(--__prefix__c-form-disabled-bg));
      line-height: 1;
      outline: none;
      color: rgb(var(--__prefix__c-form-disabled-bg));
      pointer-events: none;
      overflow: hidden;
      user-select: none;
    }

    .__prefix__-subscript {

      > .error {
        display: none;
      }
    }

    .overlay {
      position: absolute;
      z-index: 2;
    }
  }
}