@use "./css/mixins/forms";
@use "./css/mixins/spinner";
@use "./css/mixins/scroll";

.__prefix__.__prefix__-textarea {

  @include scroll.scroll;

  textarea.control {
    @extend %control;
    @extend %control-normal;
    overflow: auto;
    min-height: 3em;
    line-height: 1.3;
    background-color: transparent;
    padding: var(--__prefix__v-form-padding-x) var(--__prefix__v-form-padding-x);
  }

  &:focus-within {

    textarea.control {
      @extend %control-focused;
    }
  }

  &.error {

    textarea.control {
      @extend %control-error;
    }
  }

  &.disabled {

    textarea.control {
      @extend %control-disabled;
    }
  }

  &.loading:not(.disabled) {

    ::placeholder {
      color: transparent;
    }

    textarea.control {
      @extend %control-normal;
      line-height: 1;
      outline: none;
      color: transparent;
      pointer-events: none;
      overflow: hidden;
    }

    .__prefix__-subscript {

      > .error {
        display: none;
      }
    }

    .overlay {
      position: absolute;
      z-index: 2;
      @include spinner.spinner(".spinner", 7px);
    }
  }
}