.jui.jui-textarea {

  ::placeholder {
    color: rgb(var(--jui-placeholder-rgb) / .7);
    font-weight: 400;
    opacity: .6;
  }

  .loader-backdrop {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(var(--jui-bg-rgb));
    color: rgb(var(--jui-text-rgb) / .6);
    border: $control-border-width solid rgb(var(--jui-border-rgb));
    border-radius: $control-border-radius;
    z-index: 10;
  }

  .control {
    width: 100%;
    max-width: 100%;
    min-height: $control-height;
    padding: $control-padding-x $control-padding-x;
    font-size: $control-font-size;
    color: rgb(var(--jui-text-rgb));
    line-height: 1;
    outline: none;
  }
}