.jj.jj-textarea {

  .overlay {
    inset: revert;
    border: var(--jj-border-width) solid rgb(var(--jj-form-border-rgb));
    border-radius: var(--jj-border-radius-md);
    z-index: 10;
  }

  .control {
    line-height: 1;
    outline: none;
  }
}