:root {
  /* BASE THEME COLORS */
  --jui-black-color: 0 0 0;
  --jui-white-color: 255 255 255;
  --jui-accent-color: 0 115 229;
  --jui-error-color: 220 38 38;
  --jui-bg-color: 255 255 255;
  --jui-fg-color: 0 0 0;
  --jui-bg-disabled-color: 220 220 220;
  --jui-bg-hover-color: 230 230 230;
  --jui-bg-switch-color: 228 228 231;
  --jui-border-color: 228 228 231;
  --jui-border-focus-color: 212 212 212;
  --jui-shadow-color: 209 209 209;
  --jui-checkbox-color: 0 0 0;
  --jui-tooltip-color: 255 255 255;
}

body.dark {
  /* BASE THEME COLORS */
  --jui-black-color: 0 0 0;
  --jui-white-color: 255 255 255;
  --jui-accent-color: 0 115 229;
  --jui-error-color: 240 28 28;
  --jui-bg-color: 29 29 29;
  --jui-fg-color: 255 255 255;
  --jui-bg-disabled-color: 48 48 48;
  --jui-bg-hover-color: 68 68 68;
  --jui-bg-switch-color: 65 65 65;
  --jui-border-color: 78 78 78;
  --jui-border-focus-color: 212 212 212;
  --jui-shadow-color: 209 209 209;
  --jui-checkbox-color: 255 255 255;
  --jui-tooltip-color: 0 0 0;
}

body {
  /* ADDITIONAL COLORS */
  --jui-label-color: color-mix(in srgb, rgb(var(--jui-fg-color)) 80%, rgb(var(--jui-bg-color)) 20%);
  --jui-prefix-color: rgb(var(--jui-label-color));
  --jui-sufix-color: rgb(var(--jui-label-color));
  --jui-checkbox-tick-color: rgb(var(--jui-checkbox-color));
  --jui-tooltip-border-color: color-mix(in srgb, rgb(var(--jui-tooltip-color)) 80%, rgb(var(--jui-fg-color)) 20%);
  --jui-box-shadow-focus: 0 0 0 1px rgb(var(--jui-black-color)), 0 0 3px 0 rgb(var(--jui-border-focus-color));
  --jui-box-shadow: 0 0 12px -1px rgb(var(--jui-black-color) / 0.2), 0 0 1px 1px rgb(var(--jui-shadow-color) / 0.2);

  /* SIZES PADDINGS ETC */
  --jui-height: 40px;
  --jui-checkbox-size: 18px;
  --jui-switch-width: 46px;
  --jui-padding-x: 0.75rem;
  --jui-padding-y: 0.25rem;
  --jui-border-radius: 6px;
  --jui-border-width: 1px;
  --jui-font-size: 1rem;
  --jui-label-font-size: 0.875rem;
  --jui-error-font-size: 0.75rem;
  --jui-hint-font-size: 0.7rem;
  --jui-overlay-z-index: 200;
  --jui-dropdown-z-index: 210;
}