.jui-error-message {
  height: var(--jui-error-height);
  padding-left: 4px;
  font-size: var(--jui-error-font-size);
  line-height: calc(var(--jui-error-font-size) + 2px);
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgb(var(--jui-error-rgb));
  overflow: hidden;
  user-select: none;

  div {
    transform: translateY(-100%);
    transition: .15s ease-in-out;
  }

  &.active {

    div {
      transform: translateY(0);
    }
  }
}